Repository hotosm/drone-tm, pull requests merged in 2024-09, with the labels that each got.

#186 Production Release
  src/frontend/src/components/CreateProject/CreateprojectLayout/index.tsx
  src/frontend/src/components/CreateProject/FormContents/BasicInformation/index.tsx
  src/frontend/src/components/CreateProject/FormContents/DefineAOI/MapSection/index.tsx
  src/frontend/src/components/CreateProject/FormContents/DefineAOI/index.tsx
  src/frontend/src/components/CreateProject/FormContents/KeyParameters/index.tsx
  src/frontend/src/components/Dashboard/RequestLogs/index.tsx
  src/frontend/src/components/Dashboard/TaskLogs/TaskLogsTable.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/DescriptionBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/index.tsx
  src/frontend/src/components/IndividualProject/MapSection/Legend.tsx
Labels: frontend

#188 feat: download fligh plan
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/index.tsx
Labels: enhancement, frontend

#194 Production release
  src/backend/app/tasks/splitter.py
  src/frontend/src/components/CreateProject/CreateprojectLayout/index.tsx
  src/frontend/src/components/CreateProject/DescriptionContents/Contributions/index.tsx
  src/frontend/src/components/CreateProject/DescriptionContents/DefineAOI/index.tsx
  src/frontend/src/components/CreateProject/DescriptionContents/GenerateTask/index.tsx
  src/frontend/src/components/CreateProject/DescriptionContents/KeyParameters/index.tsx
  src/frontend/src/components/CreateProject/FormContents/DefineAOI/MapSection/index.tsx
  src/frontend/src/components/CreateProject/FormContents/GenerateTask/MapSection/index.tsx
  src/frontend/src/components/CreateProject/FormContents/GenerateTask/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/PopoverBox/ImageBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/index.tsx
  src/frontend/src/components/DroneOperatorTask/MapSection/index.tsx
  src/frontend/src/components/IndividualProject/MapSection/index.tsx
  src/frontend/src/components/Projects/MapSection/index.tsx
  src/frontend/src/components/Projects/ProjectCard/index.tsx
  src/frontend/src/components/Projects/ProjectCardSkeleton/index.tsx
  src/frontend/src/components/common/BaseLayerSwitcher/index.tsx
  src/frontend/src/components/common/MapLibreComponents/BaseLayerSwitcher/baseLayers.tsx
  src/frontend/src/components/common/MapLibreComponents/BaseLayerSwitcher/index.tsx
  src/frontend/src/components/common/MapLibreComponents/LocateUser/index.tsx
  src/frontend/src/components/common/MapLibreComponents/map.css
  src/frontend/src/components/common/MapLibreComponents/types/index.ts
  src/frontend/src/constants/createProject.tsx
  src/frontend/src/store/actions/createproject.ts
  src/frontend/src/store/slices/createproject.ts
  src/frontend/src/views/Projects/index.tsx
Labels: backend, frontend

#185 Feat: add download boundaries endpoint and auto-approve task locking for project owner
  src/backend/app/projects/project_routes.py
  src/backend/app/tasks/task_routes.py
  src/backend/app/tasks/task_schemas.py
Labels: enhancement, backend

#192 Refactor: remove fmtm-splitter and Update Profile Endpoints
  src/backend/app/config.py
  src/backend/app/drones/drone_logic.py
  src/backend/app/drones/drone_routes.py
  src/backend/app/email_templates/mapping/approved_or_rejected.html
  src/backend/app/email_templates/mapping/requests.html
  src/backend/app/tasks/task_logic.py
  src/backend/app/tasks/task_routes.py
  src/backend/app/users/user_routes.py
  src/backend/app/users/user_schemas.py
  src/backend/app/utils.py
  src/backend/app/waypoints/waypoint_routes.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: bug, enhancement, backend

#195 Refactor: update S3 bucket structure for project files and task images
  src/backend/app/projects/project_logic.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
Labels: enhancement, backend

#196 Feat: download waypoints geojson, user profile update and other UI fixes
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/index.tsx
  src/frontend/src/components/Projects/MapSection/VectorLayerWithCluster.tsx
  src/frontend/src/components/Projects/MapSection/index.tsx
  src/frontend/src/components/Projects/ProjectCard/index.tsx
  src/frontend/src/components/UserProfile/FormContents/BasicDetails/index.tsx
  src/frontend/src/constants/index.ts
  src/frontend/src/store/slices/common.ts
  src/frontend/src/views/Projects/index.tsx
  src/frontend/src/views/UserProfile/index.tsx
Labels: enhancement, frontend

#199 Download Waypoints Geojson File
  src/backend/app/waypoints/waypoint_routes.py
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/index.tsx
Labels: bug, backend, frontend

#200 Feat: Add optional filter for projects by current user
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
Labels: enhancement, backend

#211 Feat: add task reset feature for drone operators
  src/backend/app/models/enums.py
  src/backend/app/tasks/task_logic.py
  src/backend/app/tasks/task_routes.py
Labels: bug, enhancement, backend

#213 Production Release
  src/backend/app/models/enums.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/tasks/task_logic.py
  src/backend/app/tasks/task_routes.py
Labels: backend

#214 hotfix: flightplan download
  src/backend/app/waypoints/waypoint_routes.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

#217 Feat/fix: Show equivalent values as a info text on project creation form and other minor fixes
  src/frontend/src/assets/images/LandingPage/JamaicaFlyingLabs_Logo.png
  src/frontend/src/components/CreateProject/CreateprojectLayout/index.tsx
  src/frontend/src/components/CreateProject/FormContents/GenerateTask/index.tsx
  src/frontend/src/components/CreateProject/FormContents/KeyParameters/index.tsx
  src/frontend/src/components/IndividualProject/MapSection/index.tsx
  src/frontend/src/components/LandingPage/ClientsAndPartners/index.tsx
  src/frontend/src/components/LandingPage/Footer/index.tsx
  src/frontend/src/components/LandingPage/Navbar/index.tsx
  src/frontend/src/components/Projects/MapSection/index.tsx
  src/frontend/src/components/Projects/ProjectCard/index.tsx
  src/frontend/src/components/common/FormUI/InfoMessage/index.tsx
  src/frontend/src/components/common/SwitchTab/index.tsx
  src/frontend/src/constants/createProject.tsx
  src/frontend/src/constants/landingPage.tsx
  src/frontend/src/store/slices/createproject.ts
  src/frontend/src/utils/index.ts
  src/frontend/src/views/Projects/index.tsx
Labels: enhancement, frontend

#216 Feat: add counts for total tasks and ongoing tasks in project retrieval
  src/backend/app/projects/project_schemas.py
Labels: enhancement, backend

#218 feat: Add task generation guidelines
  src/frontend/src/components/CreateProject/DescriptionContents/GenerateTask/index.tsx
  src/frontend/src/constants/createProject.tsx
Labels: enhancement, frontend

#219 Production Release
  src/backend/app/projects/project_schemas.py
  src/frontend/src/assets/images/LandingPage/JamaicaFlyingLabs_Logo.png
  src/frontend/src/components/CreateProject/CreateprojectLayout/index.tsx
  src/frontend/src/components/CreateProject/DescriptionContents/GenerateTask/index.tsx
  src/frontend/src/components/CreateProject/FormContents/GenerateTask/index.tsx
  src/frontend/src/components/CreateProject/FormContents/KeyParameters/index.tsx
  src/frontend/src/components/IndividualProject/MapSection/index.tsx
  src/frontend/src/components/LandingPage/ClientsAndPartners/index.tsx
  src/frontend/src/components/LandingPage/Footer/index.tsx
  src/frontend/src/components/LandingPage/Navbar/index.tsx
  src/frontend/src/components/Projects/MapSection/index.tsx
  src/frontend/src/components/Projects/ProjectCard/index.tsx
  src/frontend/src/components/common/FormUI/InfoMessage/index.tsx
  src/frontend/src/components/common/SwitchTab/index.tsx
  src/frontend/src/constants/createProject.tsx
  src/frontend/src/constants/landingPage.tsx
  src/frontend/src/store/slices/createproject.ts
  src/frontend/src/utils/index.ts
  src/frontend/src/views/Projects/index.tsx
Labels: backend, frontend

#221 hotfix: downloading flightplan file
  src/backend/app/waypoints/waypoint_routes.py
Labels: bug, backend

#222 hotfix: downloading flightplan
  src/backend/app/waypoints/waypoint_routes.py
Labels: backend

#223 Upgrade drone_flightplan package, Update popup fields in waypoints and few more changes
  src/backend/app/waypoints/waypoint_logic.py
  src/backend/app/waypoints/waypoint_routes.py
  src/backend/app/waypoints/waypoint_schemas.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/index.tsx
  src/frontend/src/components/DroneOperatorTask/MapSection/index.tsx
  src/frontend/src/services/tasks.ts
Labels: backend, frontend, waypoints

#220 Feat: implement forgot password functionality with email reset link
  src/backend/app/config.py
  src/backend/app/email_templates/password/password_reset.html
  src/backend/app/projects/project_routes.py
  src/backend/app/tasks/task_routes.py
  src/backend/app/users/user_deps.py
  src/backend/app/users/user_routes.py
  src/backend/app/users/user_schemas.py
  src/backend/app/utils.py
Labels: enhancement, backend

#224 Production Release
  src/backend/app/config.py
  src/backend/app/email_templates/password/password_reset.html
  src/backend/app/projects/project_routes.py
  src/backend/app/tasks/task_routes.py
  src/backend/app/users/user_deps.py
  src/backend/app/users/user_routes.py
  src/backend/app/users/user_schemas.py
  src/backend/app/utils.py
  src/backend/app/waypoints/waypoint_logic.py
  src/backend/app/waypoints/waypoint_routes.py
  src/backend/app/waypoints/waypoint_schemas.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
  src/frontend/src/components/CreateProject/FormContents/DefineAOI/MapSection/index.tsx
  src/frontend/src/components/CreateProject/FormContents/GenerateTask/MapSection/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/index.tsx
  src/frontend/src/components/DroneOperatorTask/MapSection/index.tsx
  src/frontend/src/components/IndividualProject/MapSection/index.tsx
  src/frontend/src/components/Projects/MapSection/index.tsx
  src/frontend/src/components/Projects/ProjectCard/MapSection/index.tsx
  src/frontend/src/services/tasks.ts
  src/frontend/src/views/IndividualProject/index.tsx
  src/frontend/src/views/Projects/index.tsx
Labels: backend, frontend

#225 Fix: Improve polygon merging logic to merge with the polygon having maximum shared boundary
  src/backend/app/projects/project_logic.py
  src/backend/app/tasks/task_splitter.py
Labels: enhancement, backend

#227 Drone Image Processing using Open Drone Map (ODM)
  src/backend/app/config.py
  src/backend/app/projects/image_processing.py
  src/backend/app/projects/project_logic.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/s3.py
  src/backend/app/waypoints/waypoint_routes.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend, odm

#228 Display uploaded image information in frontend
  src/frontend/src/api/tasks.ts
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/DescriptionBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/QuestionBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/UploadsBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/UploadsInformation/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/index.tsx
  src/frontend/src/services/tasks.ts
Labels: frontend

#230 Update take off point in database
  src/backend/app/db/db_models.py
  src/backend/app/drones/drone_schemas.py
  src/backend/app/migrations/versions/aec0d408df01_added_take_off_point_in_task.py
  src/backend/app/tasks/task_logic.py
  src/backend/app/waypoints/waypoint_routes.py
Labels: backend, migration

#234 Feat: Change take off point and task description page mobile responsive
  src/backend/app/projects/project_logic.py
  src/backend/app/s3.py
  src/frontend/package.json
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/PopoverBox/ImageBox/ImageCard/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/PopoverBox/ImageBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/PopoverBox/LoadingBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/index.tsx
  src/frontend/src/components/DroneOperatorTask/MapSection/GetCoordinatesOnClick.tsx
  src/frontend/src/components/DroneOperatorTask/MapSection/ShowInfo.tsx
  src/frontend/src/components/DroneOperatorTask/MapSection/index.tsx
  src/frontend/src/components/DroneOperatorTask/ModalContent/ChooseTakeOffPointOptions.tsx
  src/frontend/src/constants/modalContents.tsx
  src/frontend/src/constants/taskDescription.ts
  src/frontend/src/hooks/useWindowDimensions.tsx
  src/frontend/src/services/tasks.ts
  src/frontend/src/store/actions/droneOperatorTask.ts
  src/frontend/src/store/slices/droneOperartorTask.ts
  src/frontend/src/views/TaskDescription/index.tsx
Labels: enhancement, backend, frontend

#235 Production release
  .pre-commit-config.yaml
  src/backend/app/config.py
  src/backend/app/db/db_models.py
  src/backend/app/drones/drone_schemas.py
  src/backend/app/migrations/versions/aec0d408df01_added_take_off_point_in_task.py
  src/backend/app/projects/image_processing.py
  src/backend/app/projects/project_logic.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/s3.py
  src/backend/app/tasks/task_logic.py
  src/backend/app/tasks/task_splitter.py
  src/backend/app/waypoints/waypoint_routes.py
  src/backend/app/waypoints/waypoint_schemas.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
  src/frontend/package.json
  src/frontend/src/api/tasks.ts
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/DescriptionBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/PopoverBox/ImageBox/ImageCard/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/PopoverBox/ImageBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/PopoverBox/LoadingBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/QuestionBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/UploadsBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/UploadsInformation/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/index.tsx
  src/frontend/src/components/DroneOperatorTask/MapSection/GetCoordinatesOnClick.tsx
  src/frontend/src/components/DroneOperatorTask/MapSection/ShowInfo.tsx
  src/frontend/src/components/DroneOperatorTask/MapSection/index.tsx
  src/frontend/src/components/DroneOperatorTask/ModalContent/ChooseTakeOffPointOptions.tsx
  src/frontend/src/constants/modalContents.tsx
  src/frontend/src/constants/taskDescription.ts
  src/frontend/src/hooks/useWindowDimensions.tsx
  src/frontend/src/services/tasks.ts
  src/frontend/src/store/actions/droneOperatorTask.ts
  src/frontend/src/store/slices/droneOperartorTask.ts
  src/frontend/src/views/TaskDescription/index.tsx
Labels: backend, migration, frontend

#236 Feat: Implement task unlock feature and make project description responsive
  src/frontend/src/components/DroneOperatorTask/MapSection/GetCoordinatesOnClick.tsx
  src/frontend/src/components/DroneOperatorTask/MapSection/index.tsx
  src/frontend/src/components/IndividualProject/MapSection/index.tsx
  src/frontend/src/components/Projects/MapSection/index.tsx
  src/frontend/src/components/common/BaseLayerSwitcher/index.tsx
  src/frontend/src/components/common/MapLibreComponents/AsyncPopup/index.tsx
  src/frontend/src/components/common/MapLibreComponents/types/index.ts
  src/frontend/src/views/IndividualProject/index.tsx
Labels: enhancement, frontend

#237 Feat: add scroll to top button and make user profile page responsive
  src/frontend/src/App.tsx
  src/frontend/src/components/UserProfile/FormContents/Password/index.tsx
  src/frontend/src/components/common/Navbar/index.tsx
  src/frontend/src/components/common/ScrollToTop/index.tsx
  src/frontend/src/views/TaskDescription/index.tsx
  src/frontend/src/views/UserProfile/index.tsx
Labels: enhancement, frontend

#238 feat: added project name to the user tasks query
  src/backend/app/tasks/task_schemas.py
Labels: enhancement, backend, hotfix

#239 Feat: download orthophoto
  src/frontend/src/App.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/DescriptionBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/PopoverBox/LoadingBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/UploadsInformation/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/index.tsx
Labels: enhancement, frontend

#240 Feat: Filter owner projects, show project name on task logs and other minor updates
  src/frontend/src/api/projects.ts
  src/frontend/src/components/CreateProject/CreateprojectLayout/index.tsx
  src/frontend/src/components/Dashboard/RequestLogs/index.tsx
  src/frontend/src/components/Dashboard/TaskLogs/TaskLogsTable.tsx
  src/frontend/src/components/Projects/MapSection/VectorLayerWithCluster.tsx
  src/frontend/src/components/Projects/MapSection/index.tsx
  src/frontend/src/components/Projects/ProjectsHeader/index.tsx
  src/frontend/src/services/createproject.ts
  src/frontend/src/store/slices/createproject.ts
  src/frontend/src/views/Dashboard/index.tsx
  src/frontend/src/views/IndividualProject/index.tsx
  src/frontend/src/views/Projects/index.tsx
Labels: enhancement, frontend

#241 Feat: added KML download format in download boundaries API
  src/backend/app/projects/project_routes.py
  src/backend/app/utils.py
Labels: enhancement, backend, priority:high

#242 Feat: Download task area on kml/geojson format and minor UI fixes
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/DescriptionBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/index.tsx
  src/frontend/src/components/Projects/ProjectsHeader/index.tsx
Labels: enhancement, frontend

#243 Production Release
  src/backend/app/projects/project_routes.py
  src/backend/app/tasks/task_schemas.py
  src/backend/app/utils.py
  src/frontend/src/App.tsx
  src/frontend/src/api/projects.ts
  src/frontend/src/components/CreateProject/CreateprojectLayout/index.tsx
  src/frontend/src/components/Dashboard/RequestLogs/index.tsx
  src/frontend/src/components/Dashboard/TaskLogs/TaskLogsTable.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/DescriptionBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/PopoverBox/LoadingBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/UploadsInformation/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/index.tsx
  src/frontend/src/components/DroneOperatorTask/MapSection/GetCoordinatesOnClick.tsx
  src/frontend/src/components/DroneOperatorTask/MapSection/index.tsx
  src/frontend/src/components/IndividualProject/MapSection/index.tsx
  src/frontend/src/components/Projects/MapSection/VectorLayerWithCluster.tsx
  src/frontend/src/components/Projects/MapSection/index.tsx
  src/frontend/src/components/Projects/ProjectsHeader/index.tsx
  src/frontend/src/components/UserProfile/FormContents/Password/index.tsx
  src/frontend/src/components/common/BaseLayerSwitcher/index.tsx
  src/frontend/src/components/common/MapLibreComponents/AsyncPopup/index.tsx
  src/frontend/src/components/common/MapLibreComponents/types/index.ts
  src/frontend/src/components/common/Navbar/index.tsx
  src/frontend/src/components/common/ScrollToTop/index.tsx
  src/frontend/src/services/createproject.ts
  src/frontend/src/store/slices/createproject.ts
  src/frontend/src/views/Dashboard/index.tsx
  src/frontend/src/views/IndividualProject/index.tsx
  src/frontend/src/views/Projects/index.tsx
  src/frontend/src/views/TaskDescription/index.tsx
  src/frontend/src/views/UserProfile/index.tsx
Labels: backend, frontend

#244 Feat: Text and logo update
  src/frontend/src/components/LandingPage/ClientsAndPartners/index.tsx
  src/frontend/src/components/LandingPage/Footer/index.tsx
  src/frontend/src/views/Projects/index.tsx
Labels: enhancement, frontend

#245 Feat: Trigger image processing starter api
  src/frontend/src/components/CreateProject/FormContents/GenerateTask/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/PopoverBox/ImageBox/index.tsx
  src/frontend/src/services/tasks.ts
Labels: enhancement, frontend

#246 Feat: Retry on api failure on image upload and image processing trigger.
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/PopoverBox/ImageBox/index.tsx
  src/frontend/src/utils/callApiSimultaneously.ts
Labels: enhancement, frontend

#247 Feat: user management (retrieve all users)
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/users/user_routes.py
  src/backend/app/users/user_schemas.py
Labels: enhancement, backend

#248 feat: Add return type of `retryFc` function
  src/frontend/src/utils/callApiSimultaneously.ts
Labels: enhancement, frontend

#249 hot-fix: temporary redirection
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/PopoverBox/ImageBox/index.tsx
  src/frontend/src/services/tasks.ts
Labels: enhancement, frontend

#250 Fix: Date format and update button text
  .env.example
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/DescriptionBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/MapSection/index.tsx
Labels: enhancement, frontend

#251 Production release
  .env.example
  .github/workflows/build_and_deploy.yml
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/users/user_deps.py
  src/backend/app/users/user_routes.py
  src/backend/app/users/user_schemas.py
  src/frontend/src/components/CreateProject/FormContents/GenerateTask/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/DescriptionBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/PopoverBox/ImageBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/MapSection/index.tsx
  src/frontend/src/components/LandingPage/ClientsAndPartners/index.tsx
  src/frontend/src/components/LandingPage/Footer/index.tsx
  src/frontend/src/services/tasks.ts
  src/frontend/src/utils/callApiSimultaneously.ts
  src/frontend/src/views/Projects/index.tsx
Labels: backend, devops, frontend
