Repository hotosm/drone-tm, pull requests merged in 2024-11, with the labels that each got.

#312 feat: added orthophoto tile endpoints for COG image serving
  src/backend/app/projects/image_processing.py
  src/backend/app/projects/project_logic.py
  src/backend/app/projects/project_routes.py
  src/backend/app/s3.py
  src/backend/app/tasks/task_routes.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/DescriptionBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/ModalContent/TaskOrthophotoPreview.tsx
  src/frontend/src/components/IndividualProject/Contributions/TableSection/index.tsx
  src/frontend/src/constants/modalContents.tsx
  src/frontend/src/store/actions/droneOperatorTask.ts
  src/frontend/src/store/slices/droneOperartorTask.ts
Labels: enhancement, backend, frontend

#322 feat: update status on rerun processing
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/DescriptionBox/index.tsx
Labels: enhancement, frontend

#324 fix(s3-config): update S3 bucket name & path prefix to mimic with dev & prd
  src/backend/app/projects/image_processing.py
  src/backend/app/projects/project_logic.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/s3.py
  src/backend/app/waypoints/waypoint_routes.py
Labels: enhancement, backend

#325 refactor orthophoto tile retrieval for improved safety and efficiency
  src/backend/app/projects/project_logic.py
  src/backend/app/projects/project_routes.py
Labels: enhancement, backend

#327 feat: Implemented viewport-based tile loading for orthophotos.
  src/frontend/src/components/DroneOperatorTask/ModalContent/TaskOrthophotoPreview.tsx
Labels: enhancement, frontend

#321 fix: add task dimension controls and default to square shape
  src/backend/app/tasks/task_splitter.py
Labels: enhancement, backend

#333 feat: Add reprojection of orthophoto to EPSG:3857 before uploading to S3
  src/backend/app/projects/image_processing.py
Labels: enhancement, backend

#334 Update MapLibre and Integrate COG Protocol for Efficient Orthophoto Rendering
  src/frontend/package.json
  src/frontend/src/components/DroneOperatorTask/ModalContent/TaskOrthophotoPreview.tsx
  src/frontend/src/components/common/MapLibreComponents/COGOrthophotoViewer/index.tsx
  src/frontend/vite.config.ts
Labels: enhancement, frontend

#336 Feat: update COG url
  .env.example
  src/frontend/src/components/DroneOperatorTask/ModalContent/TaskOrthophotoPreview.tsx
  src/frontend/src/components/Projects/MapSection/VectorLayerWithCluster.tsx
  src/frontend/vite.config.ts
Labels: enhancement, frontend

#337 feat: remove rio-tiler package & update author_id in project details endpoint
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: enhancement, backend

#338 fix: remove rio_tiler from project logic
  src/backend/app/projects/project_logic.py
Labels: enhancement, backend

#341 Fix: Application crash on file upload and implement zoom to orthophoto
  src/frontend/src/components/DroneOperatorTask/ModalContent/TaskOrthophotoPreview.tsx
  src/frontend/src/components/common/MapLibreComponents/COGOrthophotoViewer/index.tsx
  src/frontend/src/components/common/UploadArea/index.tsx
Labels: bug, frontend

#343 Upload align.laz along with Drone Images
  src/backend/app/projects/image_processing.py
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/UploadsBox/index.tsx
  src/frontend/src/constants/modalContents.tsx
Labels: backend, frontend, odm

#348 fix: update take-off point from 200m to 350m
  src/backend/app/waypoints/waypoint_routes.py
Labels: bug, backend

#350 Pull Request Template
  .github/pull_request_template.md
Labels: devops

#351 refactor(frontend): reset takeoff point location, incase of errors
  src/frontend/src/components/DroneOperatorTask/MapSection/index.tsx
Labels: bug, enhancement, frontend

#356 Feat: Enhancements to Regulators Approval Flow on project creation
  src/frontend/src/components/IndividualProject/MapSection/index.tsx
  src/frontend/src/components/LandingPage/Home/index.tsx
  src/frontend/src/components/RegulatorsApprovalPage/Description/ApprovalSection.tsx
  src/frontend/src/components/RegulatorsApprovalPage/Description/DescriptionSection.tsx
  src/frontend/src/components/RegulatorsApprovalPage/index.tsx
  src/frontend/src/components/common/Navbar/index.tsx
  src/frontend/src/routes/appRoutes.ts
  src/frontend/src/services/createproject.ts
  src/frontend/src/views/IndividualProject/index.tsx
  src/frontend/src/views/RegulatorsApprovalPage/index.tsx
Labels: enhancement, frontend

#357 feat: update drone-flightplan to v0.3.2 and notify project creator on unflyable task state
  src/backend/app/email_templates/mapping/task_marked_unflyable.html
  src/backend/app/tasks/task_logic.py
  src/backend/app/users/user_schemas.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: bug, backend

#358 Feat/drone operator image upload UI
  src/frontend/package.json
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/PopoverBox/MapBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/UploadsBox/index.tsx
  src/frontend/src/components/common/MapLibreComponents/AsyncPopup/index.tsx
  src/frontend/src/constants/modalContents.tsx
  src/frontend/src/store/actions/droneOperatorTask.ts
  src/frontend/src/store/slices/droneOperartorTask.ts
  src/frontend/src/utils/exifDataToGeoJson.ts
  src/frontend/src/utils/getExifData.ts
  src/frontend/src/utils/sortArrayUsingDate.ts
Labels: enhancement, frontend

#359 Feat/drone operator image upload UI
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/DescriptionBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/QuestionBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/UploadsBox/index.tsx
Labels: enhancement, frontend

#331 feat: implemented user certificate upload functionality, storing user certificates on S3.
  src/backend/app/db/db_models.py
  src/backend/app/migrations/versions/2803924c6ff9_.py
  src/backend/app/projects/project_logic.py
  src/backend/app/projects/project_routes.py
  src/backend/app/s3.py
  src/backend/app/tasks/task_routes.py
  src/backend/app/tasks/task_schemas.py
  src/backend/app/users/user_routes.py
  src/backend/app/users/user_schemas.py
  src/frontend/package.json
  src/frontend/src/assets/css/index.css
  src/frontend/src/components/CompleteUserProfile/FormContents/OtherDetails/index.tsx
  src/frontend/src/components/Dashboard/DashboardSidebar/index.tsx
  src/frontend/src/components/Dashboard/RequestLogs/ModalContent/DocumentPreviewModal.tsx
  src/frontend/src/components/Dashboard/RequestLogs/index.tsx
  src/frontend/src/components/IndividualProject/MapSection/index.tsx
  src/frontend/src/components/UpdateUserDetails/OtherDetails/index.tsx
  src/frontend/src/components/common/UploadArea/index.tsx
  src/frontend/src/components/common/UserAvatar/index.tsx
  src/frontend/src/constants/modalContents.tsx
  src/frontend/src/store/slices/common.ts
  src/frontend/src/utils/callApiSimultaneously.ts
  src/frontend/src/utils/index.ts
  src/frontend/src/views/CompleteUserProfile/index.tsx
  src/frontend/src/views/RegulatorsApprovalPage/index.tsx
  src/frontend/src/views/UpdateUserProfile/index.tsx
Labels: enhancement, backend, migration, frontend

#360 Feat/drone-operator-image-upload-UI-optimization
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/PopoverBox/MapBox/index.tsx
  src/frontend/src/components/common/MapLibreComponents/Layers/VectorLayer.ts
  src/frontend/src/components/common/MapLibreComponents/types/index.ts
  src/frontend/src/constants/modalContents.tsx
  src/frontend/src/store/slices/droneOperartorTask.ts
Labels: enhancement, frontend

#361 Adjust project description as per regulator's approval status
  src/frontend/src/components/IndividualProject/MapSection/index.tsx
  src/frontend/src/components/RegulatorsApprovalPage/Description/ApprovalSection.tsx
  src/frontend/src/components/RegulatorsApprovalPage/Description/DescriptionSection.tsx
  src/frontend/src/components/UpdateUserDetails/OtherDetails/index.tsx
  src/frontend/src/constants/index.ts
  src/frontend/src/views/IndividualProject/index.tsx
Labels: enhancement, frontend

#363 Fix/minor issues
  src/frontend/src/components/IndividualProject/MapSection/index.tsx
  src/frontend/src/components/RegulatorsApprovalPage/Description/ApprovalSection.tsx
  src/frontend/src/components/RegulatorsApprovalPage/Description/DescriptionSection.tsx
  src/frontend/src/constants/approvalPage.ts
  src/frontend/src/constants/index.ts
  src/frontend/src/store/slices/project.ts
Labels: bug, frontend

#365 fix: show popup on task click although the project is rejected
  src/frontend/src/components/IndividualProject/MapSection/index.tsx
Labels: bug, frontend

#362 fix: update roles in existing user when auto local regulator creation
  src/backend/app/users/user_routes.py
  src/backend/app/users/user_schemas.py
Labels: bug, backend

#366 Fix/regulator profile creation
  src/backend/app/users/user_routes.py
Labels: bug, backend

#367 fix: reslove user roles access issues with regulator
  src/backend/app/users/user_routes.py
Labels: bug, backend

#368 feat: Implemented endpoint to retrieve all drone altitude regulations of country
  src/backend/app/db/db_models.py
  src/backend/app/drones/drone_routes.py
  src/backend/app/drones/drone_schemas.py
  src/backend/app/migrations/versions/8ae4e43a7011_.py
Labels: enhancement, backend, migration

#347 Replace `pdm` to `uv` for faster dependency management
  .env.example
  .pre-commit-config.yaml
  docker-compose.vm.yml
  src/backend/Dockerfile
  src/backend/app/users/user_deps.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
  src/backend/uv.lock
Labels: enhancement, backend, devops

#369 Feat/drone operator image upload UI
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/DescriptionBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/PopoverBox/MapBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/QuestionBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/MapSection/index.tsx
  src/frontend/src/components/RadixComponents/ToolTip.tsx
Labels: enhancement, frontend

#371 Feat/drone operator image upload UI
  src/frontend/src/components/CreateProject/FormContents/KeyParameters/index.tsx
Labels: enhancement, frontend

#372 Fix: Minor typo and other issues
  src/frontend/src/components/common/FormUI/InfoMessage/index.tsx
  src/frontend/src/constants/createProject.tsx
Labels: enhancement, frontend
