Repository hotosm/drone-tm, pull requests merged in 2024-12, with the labels that each got.

#375 fix: disable popup trigger if user signin as `ReGULATOR`
  src/frontend/src/components/IndividualProject/MapSection/index.tsx
Labels: bug, frontend

#377 fix: reslove temporary redirect in waypoints count
  src/backend/app/projects/project_routes.py
Labels: enhancement, backend

#379 Feat/count waypoints
  src/frontend/src/components/CreateProject/FormContents/GenerateTask/index.tsx
Labels: enhancement, frontend

#378 fix: ensure small areas merge with the nearest one in task splitting
  src/backend/app/tasks/task_splitter.py
Labels: bug, backend

#381 fix: slove task locking and validation error in project creator
  src/backend/app/tasks/task_logic.py
  src/backend/app/tasks/task_schemas.py
Labels: bug, backend

#382 fix: task locking and validation error in project creator
  src/backend/app/tasks/task_logic.py
  src/backend/app/tasks/task_schemas.py
Labels: bug, backend

#383 Feat/flightplan rotation
  src/frontend/package.json
  src/frontend/src/components/DroneOperatorTask/MapSection/index.tsx
  src/frontend/src/components/common/MapLibreComponents/Layers/VectorLayer.ts
  src/frontend/src/components/common/MapLibreComponents/types/index.ts
  src/frontend/src/utils/index.ts
  src/frontend/src/utils/rotateGeojsonData.ts
Labels: enhancement, frontend

#384 Create a list of Images that contains a GCP Point
  src/backend/app/gcp/gcp_crud.py
  src/backend/app/gcp/gcp_routes.py
  src/backend/app/main.py
  src/backend/app/projects/image_processing.py
  src/backend/app/projects/project_routes.py
  src/backend/app/users/user_routes.py
Labels: backend, odm

#385 Feat/flightplan rotation
  src/frontend/src/components/DroneOperatorTask/MapSection/index.tsx
  src/frontend/src/components/common/MapLibreComponents/Layers/VectorLayer.ts
  src/frontend/src/components/common/MapLibreComponents/types/index.ts
  src/frontend/src/utils/index.ts
Labels: enhancement, frontend

#387 bump drone_flightplan version
  src/backend/pyproject.toml
  src/backend/uv.lock
Labels: backend

#388 Bump drone_flightplan version to 0.3.3
  src/backend/pyproject.toml
  src/backend/uv.lock
Labels: backend

#390 fix: update the flight plan time & waypoints counts if user terrian
  src/backend/app/projects/project_routes.py
  src/backend/app/utils.py
  src/backend/app/waypoints/waypoint_routes.py
Labels: enhancement, backend

#393 fix: calculate bbox for the drone image
  src/backend/app/gcp/gcp_crud.py
  src/backend/app/gcp/gcp_routes.py
Labels: backend

#391 Feat/flightplan rotation
  src/frontend/src/assets/css/index.css
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/DescriptionBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/MapSection/index.tsx
  src/frontend/src/components/common/MapLibreComponents/NewAsyncPopup/index.tsx
  src/frontend/src/components/common/RotationCue/index.tsx
  src/frontend/src/constants/droneOperator.ts
  src/frontend/src/utils/index.ts
Labels: enhancement, frontend

#392 feat: generate and download KMZ files with placemarks
  src/backend/app/tasks/task_schemas.py
  src/backend/app/waypoints/waypoint_routes.py
  src/backend/app/waypoints/waypoint_schemas.py
Labels: enhancement, backend

#394 Gcp calculation
  src/backend/app/gcp/gcp_crud.py
  src/backend/app/gcp/gcp_routes.py
Labels: backend

#395 Feat/flightplan rotation
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/PopoverBox/MapBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/MapSection/index.tsx
  src/frontend/src/components/common/RotationCue/index.tsx
  src/frontend/src/utils/getExifData.ts
Labels: enhancement, frontend

#397 Style/responsive
  src/frontend/src/assets/css/index.css
  src/frontend/src/components/LandingPage/UserAndRoles/index.tsx
  src/frontend/src/components/Projects/Pagination/index.tsx
Labels: frontend

#386 Fix/image procssing status
  src/backend/app/migrations/versions/e23c05f21542_change_task_events_state.py
  src/backend/app/models/enums.py
  src/backend/app/projects/image_processing.py
  src/backend/app/projects/project_logic.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/tasks/task_logic.py
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/DescriptionBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/PopoverBox/MapBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/UploadsBox/index.tsx
  src/frontend/src/components/IndividualProject/MapSection/Legend.tsx
  src/frontend/src/components/IndividualProject/MapSection/index.tsx
  src/frontend/src/constants/index.ts
  src/frontend/src/constants/projectDescription.ts
  src/frontend/src/utils/index.ts
Labels: bug, backend, migration, frontend

#380 feat: Download dem file from JAXA if not provided by the user
  .env.example
  src/backend/app/config.py
  src/backend/app/jaxa/jaxa_coordinates.py
  src/backend/app/jaxa/tif_spider.py
  src/backend/app/jaxa/upload_dem.py
  src/backend/app/projects/project_routes.py
  src/backend/pyproject.toml
  src/backend/uv.lock
  src/frontend/src/components/CreateProject/CreateprojectLayout/index.tsx
  src/frontend/src/components/CreateProject/FormContents/KeyParameters/index.tsx
  src/frontend/src/constants/createProject.tsx
  src/frontend/src/store/actions/createproject.ts
  src/frontend/src/store/slices/createproject.ts
Labels: enhancement, backend, frontend

#400 Feat/flightplan rotation
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/DescriptionBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/MapSection/index.tsx
  src/frontend/src/constants/createProject.tsx
  src/frontend/src/services/tasks.ts
Labels: enhancement, frontend

#402 Update faq section to add basic frequently asked questions.md
  docs/about/faq.md
Labels: docs

#404 feat: initial py-test setup & update Dockerfile
  src/backend/Dockerfile
  src/backend/app/models/enums.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/tasks/task_logic.py
  src/backend/app/tasks/task_schemas.py
  src/backend/pyproject.toml
  src/backend/tests/__init__.py
  src/backend/tests/conftest.py
  src/backend/tests/test_drones_routes.py
  src/backend/tests/test_projects_routes.py
  src/backend/tests/test_users_routes.py
  src/backend/uv.lock
Labels: enhancement, backend

#409 fix: update response for flight plan
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/index.tsx
Labels: bug, frontend

#410 fix: update response for flight plan
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/index.tsx
Labels: bug, frontend

#411 Implement Waylines flight mode in flights with terrain following enabled.
  src/backend/app/models/enums.py
  src/backend/app/waypoints/waypoint_routes.py
  src/backend/pyproject.toml
  src/backend/uv.lock
  src/frontend/src/api/tasks.ts
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/DescriptionBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/index.tsx
  src/frontend/src/components/DroneOperatorTask/MapSection/index.tsx
  src/frontend/src/constants/taskDescription.ts
  src/frontend/src/services/tasks.ts
  src/frontend/src/store/actions/droneOperatorTask.ts
  src/frontend/src/store/slices/droneOperartorTask.ts
Labels: backend, frontend

#417 fix: Show re-upload section if image upload is failed
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/DescriptionBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/MapSection/index.tsx
Labels: bug, frontend

#416 Implement all image processing with gcp files & updated task table to maintain task areas and so on.
  src/backend/app/config.py
  src/backend/app/db/db_models.py
  src/backend/app/gcp/gcp_routes.py
  src/backend/app/migrations/versions/b18103ac4ab7_.py
  src/backend/app/models/enums.py
  src/backend/app/projects/image_processing.py
  src/backend/app/projects/project_logic.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/s3.py
  src/backend/app/tasks/task_logic.py
  src/backend/app/tasks/task_routes.py
  src/backend/app/tasks/task_schemas.py
  src/backend/app/utils.py
  src/backend/app/waypoints/waypoint_routes.py
  src/frontend/src/api/projects.ts
  src/frontend/src/api/tasks.ts
  src/frontend/src/components/CreateProject/CreateprojectLayout/index.tsx
  src/frontend/src/components/CreateProject/FormContents/GenerateTask/index.tsx
  src/frontend/src/components/CreateProject/FormContents/KeyParameters/index.tsx
  src/frontend/src/components/Dashboard/TaskLogs/TaskLogsTable.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/DescriptionBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/MapSection/index.tsx
  src/frontend/src/components/IndividualProject/Contributions/TableSection/index.tsx
  src/frontend/src/components/IndividualProject/Tasks/TableSection/index.tsx
  src/frontend/src/services/project.ts
  src/frontend/src/services/tasks.ts
  src/frontend/src/store/actions/droneOperatorTask.ts
  src/frontend/src/store/slices/droneOperartorTask.ts
Labels: enhancement, backend, migration, frontend

#419 Update all image processing without gcp files
  src/backend/app/projects/image_processing.py
  src/backend/app/s3.py
  src/backend/app/tasks/task_routes.py
Labels: bug, backend

#420 Solve issuues on flight plan time & distance in task table.
  src/backend/app/tasks/task_routes.py
Labels: bug, backend
