Repository hotosm/drone-tm, pull requests merged in 2024-10, with the labels that each got.

#253 Feat: allow project deletion by superusers and added updated_at field in task events
  src/backend/app/db/db_models.py
  src/backend/app/migrations/versions/b4338a93f7bb_.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/tasks/task_logic.py
  src/backend/app/tasks/task_routes.py
  src/backend/app/tasks/task_schemas.py
Labels: bug, enhancement, backend, migration

#254 Feat: added two new enums such as IMAGE_UPLOADED & IMAGE_PROCESSED
  src/backend/app/migrations/versions/5235ef4afa9c_.py
  src/backend/app/models/enums.py
Labels: enhancement, backend, migration

#256 fix: Remove BLOb
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/DescriptionBox/index.tsx
Labels: bug, frontend

#257 Fix: add Password Verification and Fix updated_at Field Fetch in task details endpoint
  src/backend/app/tasks/task_routes.py
  src/backend/app/users/user_routes.py
  src/backend/app/users/user_schemas.py
Labels: enhancement, backend

#258 Feat: Show task lock date
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/DescriptionBox/index.tsx
  src/frontend/src/components/IndividualProject/MapSection/index.tsx
Labels: bug, frontend

#259 hot-fix(user-profile): check old & new password before verify the password
  src/backend/app/users/user_routes.py
Labels: enhancement, backend

#261 used presigned url for map screenshot in projects endpoint
  src/backend/app/projects/project_schemas.py
Labels: backend

#263 feat: added search features in projects lists.
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
Labels: enhancement, backend

#260 Feat: Complete profile, update user details, change password and other minor fixes
  src/frontend/src/App.tsx
  src/frontend/src/api/projects.ts
  src/frontend/src/assets/css/tailwind.css
  src/frontend/src/components/CompleteUserProfile/FormContents/BasicDetails/index.tsx
  src/frontend/src/components/CompleteUserProfile/FormContents/OrganizationDetails/index.tsx
  src/frontend/src/components/CompleteUserProfile/FormContents/OtherDetails/index.tsx
  src/frontend/src/components/CompleteUserProfile/FormContents/Password/index.tsx
  src/frontend/src/components/CompleteUserProfile/FormContents/index.tsx
  src/frontend/src/components/CompleteUserProfile/UserProfileHeader/index.tsx
  src/frontend/src/components/CompleteUserProfile/index.tsx
  src/frontend/src/components/CreateProject/FormContents/KeyParameters/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/DescriptionBox/index.tsx
  src/frontend/src/components/GoogleAuth/index.tsx
  src/frontend/src/components/UpdateUserDetails/BasicDetails.tsx/index.tsx
  src/frontend/src/components/UpdateUserDetails/Header/index.tsx
  src/frontend/src/components/UpdateUserDetails/OrganizationDetails/index.tsx
  src/frontend/src/components/UpdateUserDetails/OtherDetails/index.tsx
  src/frontend/src/components/UpdateUserDetails/Password/index.tsx
  src/frontend/src/components/common/Breadcrumb/index.tsx
  src/frontend/src/components/common/UserProfile/index.tsx
  src/frontend/src/routes/appRoutes.ts
  src/frontend/src/services/common.ts
  src/frontend/src/views/CompleteUserProfile/index.tsx
  src/frontend/src/views/Projects/index.tsx
  src/frontend/src/views/UpdateUserProfile/index.tsx
Labels: enhancement, frontend

#266 Feat: Download orthophoto form project description page
  src/frontend/src/components/IndividualProject/Contributions/TableSection/index.tsx
  src/frontend/src/views/IndividualProject/index.tsx
Labels: enhancement, frontend

#265 hot-fix(orthophoto-download): added assets_url & image_count in get project details
  src/backend/app/projects/project_logic.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/tasks/task_schemas.py
  src/frontend/src/components/IndividualProject/Contributions/TableSection/index.tsx
  src/frontend/src/views/IndividualProject/index.tsx
Labels: enhancement, backend, frontend

#267 Feat/download orthophoto
  src/backend/app/projects/project_logic.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/tasks/task_schemas.py
  src/frontend/src/components/IndividualProject/Contributions/TableSection/index.tsx
  src/frontend/src/views/IndividualProject/index.tsx
Labels: enhancement, backend, frontend

#264 Feat: updated pagination on list projects
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/frontend/src/api/projects.ts
  src/frontend/src/components/Projects/MapSection/index.tsx
  src/frontend/src/components/Projects/Pagination/index.tsx
  src/frontend/src/components/Projects/ProjectsHeader/index.tsx
  src/frontend/src/components/common/FormUI/SearchInput/index.tsx
  src/frontend/src/constants/index.ts
  src/frontend/src/hooks/usePagination.tsx
  src/frontend/src/services/createproject.ts
  src/frontend/src/store/slices/common.ts
  src/frontend/src/views/Projects/index.tsx
Labels: enhancement, backend, frontend

#270 Feat: Updated the task as completed after process from S3
  src/backend/app/projects/image_processing.py
  src/backend/app/projects/project_logic.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/tasks/task_routes.py
  src/backend/app/tasks/task_schemas.py
Labels: enhancement, backend

#271 Feat: add project status field based on task counts
  src/backend/app/projects/project_schemas.py
  src/backend/app/tasks/task_schemas.py
Labels: enhancement, backend

#273 hotfix: Update project/id to project_id in S3 image processing logic
  src/backend/app/projects/image_processing.py
Labels: enhancement, backend

#274 fix: added asyncio event loop to call async update_task_state
  src/backend/app/projects/image_processing.py
Labels: enhancement, backend

#272 Feat: Show project status and task status on map and project cards
  src/frontend/src/components/Dashboard/DashboardSidebar/index.tsx
  src/frontend/src/components/Dashboard/TaskLogs/TaskLogsTable.tsx
  src/frontend/src/components/IndividualProject/Contributions/TableSection/index.tsx
  src/frontend/src/components/IndividualProject/Contributions/index.tsx
  src/frontend/src/components/IndividualProject/MapSection/Legend.tsx
  src/frontend/src/components/IndividualProject/MapSection/index.tsx
  src/frontend/src/components/IndividualProject/Tasks/TableSection/index.tsx
  src/frontend/src/components/IndividualProject/Tasks/index.tsx
  src/frontend/src/components/Projects/MapSection/VectorLayerWithCluster.tsx
  src/frontend/src/components/Projects/MapSection/index.tsx
  src/frontend/src/components/Projects/ProjectCard/index.tsx
  src/frontend/src/components/RadixComponents/Table.tsx
  src/frontend/src/components/common/Chip/StatusChip/index.tsx
  src/frontend/src/views/IndividualProject/index.tsx
  src/frontend/src/views/Projects/index.tsx
  src/frontend/src/views/UpdateUserProfile/index.tsx
Labels: enhancement, frontend

#275 fix: resolve RuntimeError for missing event loop in AnyIO worker thread
  src/backend/app/projects/image_processing.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: enhancement, backend

#276 Fix: UI issue
  src/frontend/src/components/IndividualProject/MapSection/index.tsx
  src/frontend/src/components/common/Chip/StatusChip/index.tsx
Labels: enhancement, frontend

#278 fix: completed task status count
  src/backend/app/projects/project_schemas.py
Labels: enhancement, backend

#281 hot-fix: cannot place the take-off point updation marker in some area of map
  src/frontend/src/components/DroneOperatorTask/MapSection/index.tsx
Labels: enhancement, frontend

#284 Feat: Update assets downloading endpoint on individual project
  src/frontend/src/api/projects.ts
  src/frontend/src/components/DroneOperatorTask/MapSection/index.tsx
  src/frontend/src/components/IndividualProject/Contributions/TableSection/index.tsx
  src/frontend/src/constants/index.ts
  src/frontend/src/services/project.ts
  src/frontend/src/services/tasks.ts
  src/frontend/src/views/IndividualProject/index.tsx
  src/frontend/src/views/Projects/index.tsx
Labels: enhancement, frontend

#286 Feat:update assets download url and add loader
  src/frontend/src/services/project.ts
  src/frontend/src/views/IndividualProject/index.tsx
Labels: enhancement, frontend

#289 fix: merge conflict
  src/backend/app/projects/project_schemas.py
  src/backend/app/tasks/task_routes.py
  src/backend/pdm.lock
Labels: bug, backend

#288 production release
  src/backend/app/db/database.py
  src/backend/app/main.py
  src/backend/app/projects/project_deps.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/tasks/task_routes.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
  src/frontend/src/api/projects.ts
  src/frontend/src/components/DroneOperatorTask/MapSection/index.tsx
  src/frontend/src/components/IndividualProject/Contributions/TableSection/index.tsx
  src/frontend/src/constants/index.ts
  src/frontend/src/services/project.ts
  src/frontend/src/services/tasks.ts
  src/frontend/src/views/Projects/index.tsx
Labels: backend, migration, frontend

#291 Used Webhook URL in ODM Image Processing
  .env.example
  src/backend/app/config.py
  src/backend/app/projects/image_processing.py
  src/backend/app/projects/project_logic.py
  src/backend/app/projects/project_routes.py
Labels: backend

#292 [hotfix]: fix email notification sent to wrong person by passing correct author email
  .env.example
  src/backend/app/tasks/task_routes.py
Labels: bug, backend

#294 Uses ODM Webhook for Post Processing tasks in Image Processing
  src/backend/app/projects/image_processing.py
  src/backend/app/projects/project_logic.py
  src/backend/app/projects/project_routes.py
Labels: backend

#295 Uses ODM Webhook for post image processing tasks
  .env.example
  src/backend/app/config.py
  src/backend/app/projects/image_processing.py
  src/backend/app/projects/project_logic.py
  src/backend/app/projects/project_routes.py
Labels: backend, frontend

#296 task is marked as completed after processing is done
  src/backend/app/projects/image_processing.py
  src/backend/app/projects/project_logic.py
  src/backend/app/projects/project_routes.py
Labels: backend, odm

#299 Fix: Implement roles received as array and show all projects on map
  src/frontend/src/api/projects.ts
  src/frontend/src/components/Dashboard/DashboardSidebar/index.tsx
  src/frontend/src/components/LandingPage/SignInOverlay/index.tsx
  src/frontend/src/components/Projects/MapSection/index.tsx
  src/frontend/src/components/Projects/ProjectsHeader/index.tsx
  src/frontend/src/components/common/UserProfile/index.tsx
  src/frontend/src/modules/user-auth-module/src/components/Authentication/Login/index.tsx
  src/frontend/src/services/createproject.ts
  src/frontend/src/views/CompleteUserProfile/index.tsx
  src/frontend/src/views/Dashboard/index.tsx
  src/frontend/src/views/Projects/index.tsx
  src/frontend/src/views/UpdateUserProfile/index.tsx
Labels: bug, frontend

#300 [hotfix]: reslove project completed status after images processing
  src/backend/app/projects/image_processing.py
Labels: bug, backend

#301 Reslove project completed status after images processing
  .pre-commit-config.yaml
  src/backend/app/projects/image_processing.py
Labels: backend

#297 feat: update user profile role to array & add project centroid endpoints
  src/backend/app/db/db_models.py
  src/backend/app/migrations/versions/b36a13183a83_.py
  src/backend/app/projects/project_logic.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/tasks/task_routes.py
  src/backend/app/tasks/task_schemas.py
  src/backend/app/users/auth.py
  src/backend/app/users/user_deps.py
  src/backend/app/users/user_routes.py
  src/backend/app/users/user_schemas.py
  src/frontend/src/api/projects.ts
  src/frontend/src/components/Dashboard/DashboardSidebar/index.tsx
  src/frontend/src/components/GoogleAuth/index.tsx
  src/frontend/src/components/LandingPage/SignInOverlay/index.tsx
  src/frontend/src/components/Projects/MapSection/index.tsx
  src/frontend/src/components/Projects/ProjectsHeader/index.tsx
  src/frontend/src/components/common/UserProfile/index.tsx
  src/frontend/src/modules/user-auth-module/src/components/Authentication/Login/index.tsx
  src/frontend/src/services/createproject.ts
  src/frontend/src/views/CompleteUserProfile/index.tsx
  src/frontend/src/views/Dashboard/index.tsx
  src/frontend/src/views/Projects/index.tsx
  src/frontend/src/views/UpdateUserProfile/index.tsx
Labels: bug, backend, migration, frontend

#302 Fix: Complete profile as a new role
  src/frontend/src/components/GoogleAuth/index.tsx
  src/frontend/src/components/IndividualProject/MapSection/index.tsx
  src/frontend/src/components/common/UserProfile/index.tsx
  src/frontend/src/modules/user-auth-module/src/components/Authentication/Login/index.tsx
Labels: bug, frontend

#303 hot-fix: fetch updated profile details
  src/frontend/src/views/CompleteUserProfile/index.tsx
Labels: bug, frontend

#304 fix: user details updation issue
  src/frontend/src/views/UpdateUserProfile/index.tsx
Labels: bug, frontend

#305 feat: added new state for image processing failed
  src/backend/app/migrations/versions/4ea77c60b715_.py
  src/backend/app/models/enums.py
  src/backend/app/projects/image_processing.py
  src/backend/app/projects/project_routes.py
  src/backend/app/tasks/task_logic.py
  src/backend/app/tasks/task_routes.py
  src/backend/app/tasks/task_schemas.py
Labels: enhancement, backend, migration

#306 feat: update failed task status in project details endpoint
  src/backend/app/projects/project_schemas.py
  src/backend/app/tasks/task_logic.py
Labels: enhancement, backend

#309 Fix/role update my info
  src/frontend/src/components/common/UserProfile/index.tsx
  src/frontend/src/views/UpdateUserProfile/index.tsx
Labels: bug, frontend

#313 [hotfix]: update task status as completed after image processing...
  src/backend/app/projects/image_processing.py
  src/backend/app/projects/project_routes.py
Labels: bug, backend

#314 hotfix: update task status as completed after image processing..
  src/backend/app/projects/image_processing.py
  src/backend/app/projects/project_routes.py
Labels: bug, backend

#315 [hotfix]: slove the status not updated after image processing
  src/backend/app/projects/image_processing.py
  src/backend/app/projects/project_routes.py
Labels: bug, backend

#308 Feat: fire popup manually
  src/frontend/src/components/IndividualProject/Contributions/TableSection/index.tsx
  src/frontend/src/components/IndividualProject/Contributions/index.tsx
  src/frontend/src/components/IndividualProject/MapSection/index.tsx
  src/frontend/src/components/IndividualProject/Tasks/TableSection/index.tsx
  src/frontend/src/components/IndividualProject/Tasks/index.tsx
  src/frontend/src/components/common/DataTable/index.tsx
  src/frontend/src/components/common/MapLibreComponents/AsyncPopup/index.tsx
  src/frontend/src/components/common/MapLibreComponents/types/index.ts
  src/frontend/src/components/common/UserProfile/index.tsx
  src/frontend/src/store/slices/project.ts
  src/frontend/src/views/IndividualProject/index.tsx
  src/frontend/src/views/UpdateUserProfile/index.tsx
Labels: enhancement, frontend

#310 feat: add image processing failure handling and retry mechanism for drone task image uploads & re-run process
  src/backend/app/models/enums.py
  src/backend/app/projects/image_processing.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/tasks/task_logic.py
  src/backend/app/tasks/task_routes.py
  src/backend/app/tasks/task_schemas.py
  src/frontend/src/components/Dashboard/RequestLogs/index.tsx
  src/frontend/src/components/Dashboard/TaskLogs/TaskLogsTable.tsx
  src/frontend/src/components/Dashboard/TaskLogs/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/DescriptionBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/PopoverBox/ImageBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/UploadsBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/index.tsx
  src/frontend/src/components/DroneOperatorTask/Header/index.tsx
  src/frontend/src/components/IndividualProject/Contributions/TableSection/index.tsx
  src/frontend/src/components/IndividualProject/MapSection/Legend.tsx
  src/frontend/src/components/IndividualProject/MapSection/index.tsx
  src/frontend/src/constants/index.ts
  src/frontend/src/services/droneOperator.ts
  src/frontend/src/store/actions/droneOperatorTask.ts
  src/frontend/src/store/slices/droneOperartorTask.ts
  src/frontend/src/utils/index.ts
  src/frontend/src/views/IndividualProject/index.tsx
  src/frontend/src/views/TaskDescription/index.tsx
Labels: enhancement, backend, frontend

#318 feat: update status on re-run image processing
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/DescriptionBox/index.tsx
Labels: enhancement, frontend
