Repository hotosm/drone-tm, pull requests merged in 2024-08, with the labels that each got.

#116 Add OpenDroneMap to docker compose stack
  .env.example
  .github/workflows/docs.yml
  docker-compose.odm.yml
  src/frontend/README.md
Labels: devops

#126 add external flag on db-data volume on VM
  docker-compose.vm.yml
Labels: bug, devops

#129 fix typo in pr labeller
  .github/labeler.yml
Labels: bug, devops

#125 Introduce Final Output and Auto Lock Tasks Fields to Improve Task Management
  src/backend/app/db/db_models.py
  src/backend/app/migrations/versions/d862bfa31c36_.py
  src/backend/app/models/enums.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/tasks/task_crud.py
  src/backend/app/tasks/task_routes.py
  src/backend/app/users/user_deps.py
Labels: enhancement, backend, migration

#127 Download waypoints for an individual task
  src/backend/app/db/db_models.py
  src/backend/app/migrations/env.py
  src/backend/app/migrations/versions/5d38e368b3d2_.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/s3.py
  src/backend/app/tasks/task_crud.py
  src/backend/app/waypoints/waypoint_routes.py
  src/frontend/src/assets/images/3d-model-icon.svg
  src/frontend/src/assets/images/DSM-icon.svg
  src/frontend/src/assets/images/DTM-Icon.svg
  src/frontend/src/assets/images/ortho-photo-icon.svg
  src/frontend/src/components/CreateProject/CreateprojectLayout/index.tsx
  src/frontend/src/components/CreateProject/FormContents/Contributions/index.tsx
  src/frontend/src/components/CreateProject/FormContents/GenerateTask/index.tsx
  src/frontend/src/components/CreateProject/FormContents/KeyParameters/OutputOptions.tsx
  src/frontend/src/components/CreateProject/FormContents/KeyParameters/index.tsx
  src/frontend/src/components/CreateProject/index.tsx
  src/frontend/src/components/common/UploadArea/index.tsx
  src/frontend/src/constants/createProject.tsx
  src/frontend/src/services/createproject.ts
  src/frontend/src/services/index.ts
  src/frontend/src/store/slices/createproject.ts
Labels: docs, backend, devops, migration, frontend

#133 fix: minio console accessible from internet
  .env.example
  docker-compose.vm.yml
  docker-compose.yml
Labels: bug, devops

#132 Feat/task stats endpoint
  src/backend/app/migrations/versions/2b92f8a9bbec_.py
  src/backend/app/models/enums.py
  src/backend/app/tasks/task_crud.py
  src/backend/app/tasks/task_routes.py
  src/backend/app/tasks/task_schemas.py
Labels: enhancement, backend, migration

#134 Feat: refactor dashboard UI and update project creation payload keys
  src/frontend/src/components/CreateProject/CreateprojectLayout/index.tsx
  src/frontend/src/components/CreateProject/FormContents/KeyParameters/index.tsx
  src/frontend/src/components/Dashboard/DashboardCard/index.tsx
  src/frontend/src/components/Dashboard/RequestLogs/index.tsx
  src/frontend/src/components/Dashboard/TaskLogs/index.tsx
  src/frontend/src/components/IndividualProject/MapSection/index.tsx
  src/frontend/src/constants/dashboard.ts
  src/frontend/src/views/Dashboard/index.tsx
Labels: enhancement, frontend

#135 hotfix: query to update state labels in task_details
  src/backend/app/tasks/task_crud.py
  src/backend/app/tasks/task_routes.py
Labels: enhancement, backend

#137 Refactor Drone Module using psycopg and Pydantic
  src/backend/app/drones/drone_crud.py
  src/backend/app/drones/drone_deps.py
  src/backend/app/drones/drone_routes.py
  src/backend/app/drones/drone_schemas.py
Labels: enhancement, backend

#138 Feat/dashboard update
  src/frontend/src/api/dashboard.ts
  src/frontend/src/components/Dashboard/DashboardCard/index.tsx
  src/frontend/src/components/Dashboard/TaskLogs/TaskLogsTable.tsx
  src/frontend/src/components/Dashboard/TaskLogs/index.tsx
  src/frontend/src/constants/dashboard.ts
  src/frontend/src/services/dashboard.ts
  src/frontend/src/views/Dashboard/index.tsx
Labels: enhancement, frontend

#136 Refactor user module to use psycopg/pydantic
  src/backend/app/tasks/task_routes.py
  src/backend/app/users/user_crud.py
  src/backend/app/users/user_deps.py
  src/backend/app/users/user_routes.py
  src/backend/app/users/user_schemas.py
Labels: enhancement, backend

#139 hotfix: db fields mismatched in waypoint routes for an individual task
  src/backend/app/waypoints/waypoint_routes.py
Labels: bug, backend

#140 Feat/drone-operator-task-page
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/DescriptionBox/DescriptionComponent/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/DescriptionBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/PopoverBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/QuestionBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/UploadsBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/index.tsx
  src/frontend/src/components/DroneOperatorTask/Header/index.tsx
  src/frontend/src/components/DroneOperatorTask/MapSection/index.tsx
  src/frontend/src/components/DroneOperatorTask/index.tsx
  src/frontend/src/constants/droneOperator.ts
  src/frontend/src/routes/appRoutes.ts
  src/frontend/src/services/droneOperator.ts
  src/frontend/src/store/actions/droneOperatorTask.ts
  src/frontend/src/store/reducers/index.ts
  src/frontend/src/store/slices/droneOperartorTask.ts
  src/frontend/src/views/DroneOperatorTask/index.tsx
Labels: enhancement, frontend

#141 Refactor task module using pyscopg and pydantic
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/tasks/task_crud.py
  src/backend/app/tasks/task_routes.py
  src/backend/app/tasks/task_schemas.py
  src/backend/app/users/user_schemas.py
Labels: enhancement, backend

#143 Feat: show waypoints on map
  src/frontend/src/api/tasks.ts
  src/frontend/src/assets/images/rightArrow.png
  src/frontend/src/components/Dashboard/TaskLogs/TaskLogsTable.tsx
  src/frontend/src/components/DroneOperatorTask/MapSection/index.tsx
  src/frontend/src/components/DroneOperatorTask/index.tsx
  src/frontend/src/components/IndividualProject/MapSection/index.tsx
  src/frontend/src/components/Projects/MapSection/VectorLayerWithCluster.tsx
  src/frontend/src/components/common/MapLibreComponents/Layers/VectorLayer.ts
  src/frontend/src/components/common/MapLibreComponents/types/index.ts
  src/frontend/src/routes/appRoutes.ts
  src/frontend/src/services/tasks.ts
  src/frontend/src/views/DroneOperatorTask/index.tsx
  src/frontend/src/views/TaskDescription/index.tsx
Labels: enhancement, frontend

#144 Feat: implement api on task description and download flight plan
  src/frontend/src/api/tasks.ts
  src/frontend/src/assets/images/marker.png
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/DescriptionBox/DescriptionComponent/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/DescriptionBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/index.tsx
  src/frontend/src/components/DroneOperatorTask/Header/index.tsx
  src/frontend/src/components/DroneOperatorTask/MapSection/index.tsx
  src/frontend/src/components/common/MapLibreComponents/Layers/VectorLayer.ts
  src/frontend/src/components/common/MapLibreComponents/types/index.ts
  src/frontend/src/services/tasks.ts
  src/frontend/src/views/TaskDescription/index.tsx
Labels: enhancement, frontend

#145 Feat/drone operator task page - Add feature to upload folder of images
  src/frontend/src/assets/css/index.css
  src/frontend/src/components/Dashboard/DashboardSidebar/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/PopoverBox/ImageBox/ImageCard/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/PopoverBox/ImageBox/PreviewImage/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/PopoverBox/ImageBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/PopoverBox/LoadingBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/PopoverBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/QuestionBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/UploadsBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/index.tsx
  src/frontend/src/components/LandingPage/SignInOverlay/index.tsx
  src/frontend/src/services/droneOperator.ts
  src/frontend/src/store/actions/droneOperatorTask.ts
  src/frontend/src/store/slices/droneOperartorTask.ts
  src/frontend/src/utils/callApiSimultaneously.ts
  src/frontend/src/utils/createChunksOfArray.ts
  src/frontend/src/utils/createDelay.ts
  src/frontend/src/utils/percentageCalculator.ts
  src/frontend/src/views/Dashboard/index.tsx
Labels: enhancement, frontend

#146 Feat: Add requires_approval_from_manager_for_locking field to read_pr…
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_schemas.py
Labels: bug, backend

#147 hotfix: projects list endpoint was missing requires_approval_from_manager
  src/backend/app/projects/project_crud.py
Labels: bug, backend

#148 Fix: set requires_approval_from_manager_for_locking as optional
  src/backend/app/projects/project_schemas.py
Labels: bug, backend

#149 feat: Implement error boundary and update minor changes
  src/frontend/src/components/CreateProject/CreateProjectHeader/index.tsx
  src/frontend/src/components/CreateProject/CreateprojectLayout/index.tsx
  src/frontend/src/components/CreateProject/FormContents/DefineAOI/MapSection/index.tsx
  src/frontend/src/components/CreateProject/FormContents/DefineAOI/MapTools/index.tsx
  src/frontend/src/components/CreateProject/FormContents/DefineAOI/index.tsx
  src/frontend/src/components/CreateProject/FormContents/GenerateTask/MapSection/index.tsx
  src/frontend/src/components/CreateProject/FormContents/KeyParameters/index.tsx
  src/frontend/src/components/CreateProject/StepSwitcher/index.tsx
  src/frontend/src/components/CreateProject/index.tsx
  src/frontend/src/components/Dashboard/DashboardCard/index.tsx
  src/frontend/src/components/Dashboard/DashboardSidebar/index.tsx
  src/frontend/src/components/Dashboard/RequestLogs/index.tsx
  src/frontend/src/components/Dashboard/TaskLogs/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/DescriptionBox/DescriptionComponent/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/DescriptionBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/index.tsx
  src/frontend/src/components/DroneOperatorTask/MapSection/index.tsx
  src/frontend/src/components/IndividualProject/MapSection/index.tsx
  src/frontend/src/components/LandingPage/Home/index.tsx
  src/frontend/src/components/Projects/MapSection/index.tsx
  src/frontend/src/components/Projects/ProjectCard/MapSection/index.tsx
  src/frontend/src/components/Projects/ProjectCard/index.tsx
  src/frontend/src/services/tasks.ts
  src/frontend/src/views/Dashboard/index.tsx
  src/frontend/src/views/IndividualProject/index.tsx
  src/frontend/src/views/Projects/index.tsx
  src/frontend/src/views/TaskDescription/index.tsx
  src/frontend/src/views/UserProfile/index.tsx
Labels: frontend

#151 Fix: task State Management and API Cleanup
  src/backend/app/tasks/task_crud.py
  src/backend/app/tasks/task_routes.py
Labels: bug, backend

#153 Feat: update project details endpoint
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_schemas.py
Labels: enhancement, backend

#152 fix: minor issues
  src/frontend/src/components/Dashboard/RequestLogs/index.tsx
  src/frontend/src/modules/user-auth-module/src/components/Authentication/Login/index.tsx
  src/frontend/src/routes/types.ts
Labels: frontend

#154 Fix: listing request logs based on user
  src/backend/app/tasks/task_crud.py
  src/backend/app/tasks/task_routes.py
Labels: bug, enhancement, backend, hotfix

#157 Fix: updates the handling of task events and statistics in the API.
  src/backend/app/projects/project_crud.py
  src/backend/app/tasks/task_crud.py
  src/backend/app/tasks/task_routes.py
Labels: enhancement, backend

#160 Feat: Implement updated flightplan generation waypoint response
  .pre-commit-config.yaml
  src/backend/app/projects/project_crud.py
  src/backend/app/tasks/task_crud.py
  src/backend/app/tasks/task_routes.py
  src/frontend/package.json
  src/frontend/src/components/CreateProject/CreateprojectLayout/index.tsx
  src/frontend/src/components/DroneOperatorTask/MapSection/index.tsx
  src/frontend/src/components/IndividualProject/Contributions/TableSection/index.tsx
  src/frontend/src/components/IndividualProject/Tasks/TableSection/index.tsx
  src/frontend/src/components/IndividualProject/Tasks/index.tsx
  src/frontend/src/components/Projects/ProjectCard/index.tsx
  src/frontend/src/components/common/MapLibreComponents/Layers/VectorLayer.ts
  src/frontend/src/components/common/MapLibreComponents/types/index.ts
  src/frontend/src/components/common/Navbar/index.tsx
  src/frontend/src/constants/index.ts
  src/frontend/src/views/IndividualProject/index.tsx
Labels: enhancement, backend, frontend

#159 Update flightplan generation waypoint with newer version of drone-flightplan package
  src/backend/app/waypoints/waypoint_routes.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
  src/frontend/package.json
  src/frontend/src/components/CreateProject/CreateprojectLayout/index.tsx
  src/frontend/src/components/DroneOperatorTask/MapSection/index.tsx
  src/frontend/src/components/IndividualProject/Contributions/TableSection/index.tsx
  src/frontend/src/components/IndividualProject/Tasks/TableSection/index.tsx
  src/frontend/src/components/IndividualProject/Tasks/index.tsx
  src/frontend/src/components/Projects/ProjectCard/index.tsx
  src/frontend/src/components/common/MapLibreComponents/Layers/VectorLayer.ts
  src/frontend/src/components/common/MapLibreComponents/types/index.ts
  src/frontend/src/components/common/Navbar/index.tsx
  src/frontend/src/constants/index.ts
  src/frontend/src/views/IndividualProject/index.tsx
Labels: enhancement, backend, frontend

#161 Fix: map crash issue on rerender
  src/frontend/src/components/IndividualProject/MapSection/index.tsx
  src/frontend/src/components/common/MapLibreComponents/Layers/VectorLayer.ts
  src/frontend/src/views/Projects/index.tsx
Labels: enhancement, frontend

#162 Feat: add no-fly-zones project details
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_schemas.py
Labels: enhancement, backend

#165 Refactor UI and task image uplaod flow
  src/frontend/src/assets/images/area-icon.png
  src/frontend/src/components/CreateProject/CreateprojectLayout/index.tsx
  src/frontend/src/components/CreateProject/FormContents/BasicInformation/index.tsx
  src/frontend/src/components/CreateProject/FormContents/DefineAOI/index.tsx
  src/frontend/src/components/CreateProject/FormContents/KeyParameters/index.tsx
  src/frontend/src/components/Dashboard/RequestLogs/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/DescriptionBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/PopoverBox/ImageBox/ImageCard/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/PopoverBox/ImageBox/PreviewImage/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/PopoverBox/ImageBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/QuestionBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/UploadsBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/MapSection/index.tsx
  src/frontend/src/components/IndividualProject/Contributions/TableSection/index.tsx
  src/frontend/src/components/IndividualProject/Instructions/index.tsx
  src/frontend/src/components/IndividualProject/MapSection/Legend.tsx
  src/frontend/src/components/IndividualProject/MapSection/index.tsx
  src/frontend/src/components/IndividualProject/Tasks/TableSection/index.tsx
  src/frontend/src/components/Projects/ProjectCard/index.tsx
  src/frontend/src/components/common/MapLibreComponents/AsyncPopup/index.tsx
  src/frontend/src/components/common/MapLibreComponents/types/index.ts
  src/frontend/src/constants/createProject.tsx
  src/frontend/src/constants/modalContents.tsx
  src/frontend/src/store/actions/droneOperatorTask.ts
  src/frontend/src/store/slices/createproject.ts
  src/frontend/src/store/slices/droneOperartorTask.ts
  src/frontend/src/utils/index.ts
  src/frontend/src/views/Dashboard/index.tsx
  src/frontend/src/views/Projects/index.tsx
Labels: bug, frontend

#166 Update develop branch with the main branch
  README.md
  src/frontend/src/assets/images/area-icon.png
  src/frontend/src/components/CreateProject/CreateprojectLayout/index.tsx
  src/frontend/src/components/CreateProject/FormContents/BasicInformation/index.tsx
  src/frontend/src/components/CreateProject/FormContents/DefineAOI/index.tsx
  src/frontend/src/components/CreateProject/FormContents/KeyParameters/index.tsx
  src/frontend/src/components/Dashboard/RequestLogs/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/DescriptionBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/PopoverBox/ImageBox/ImageCard/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/PopoverBox/ImageBox/PreviewImage/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/PopoverBox/ImageBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/QuestionBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/UploadsBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/MapSection/index.tsx
  src/frontend/src/components/IndividualProject/Contributions/TableSection/index.tsx
  src/frontend/src/components/IndividualProject/Instructions/index.tsx
  src/frontend/src/components/IndividualProject/MapSection/Legend.tsx
  src/frontend/src/components/IndividualProject/MapSection/index.tsx
  src/frontend/src/components/IndividualProject/Tasks/TableSection/index.tsx
  src/frontend/src/components/Projects/ProjectCard/index.tsx
  src/frontend/src/components/common/MapLibreComponents/AsyncPopup/index.tsx
  src/frontend/src/components/common/MapLibreComponents/types/index.ts
  src/frontend/src/constants/createProject.tsx
  src/frontend/src/constants/modalContents.tsx
  src/frontend/src/store/actions/droneOperatorTask.ts
  src/frontend/src/store/slices/createproject.ts
  src/frontend/src/store/slices/droneOperartorTask.ts
  src/frontend/src/utils/index.ts
  src/frontend/src/views/Dashboard/index.tsx
  src/frontend/src/views/Projects/index.tsx
Labels: docs, frontend

#128 Replace encode/databases with psycopg & pydantic model validation
  .gitignore
  docker-compose.yml
  src/backend/app/db/database.py
  src/backend/app/drones/drone_deps.py
  src/backend/app/drones/drone_logic.py
  src/backend/app/drones/drone_routes.py
  src/backend/app/drones/drone_schemas.py
  src/backend/app/main.py
  src/backend/app/projects/project_deps.py
  src/backend/app/projects/project_logic.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/tasks/task_crud.py
  src/backend/app/tasks/task_logic.py
  src/backend/app/tasks/task_routes.py
  src/backend/app/tasks/task_schemas.py
  src/backend/app/users/user_crud.py
  src/backend/app/users/user_deps.py
  src/backend/app/users/user_logic.py
  src/backend/app/users/user_routes.py
  src/backend/app/users/user_schemas.py
  src/backend/app/utils.py
  src/backend/app/waypoints/waypoint_logic.py
  src/backend/app/waypoints/waypoint_routes.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
  src/backend/requirements.txt
  src/frontend/src/components/CreateProject/CreateprojectLayout/index.tsx
  src/frontend/src/components/CreateProject/FormContents/DefineAOI/index.tsx
  src/frontend/src/components/Dashboard/DashboardSidebar/index.tsx
  src/frontend/src/components/GoogleAuth/types/index.ts
  src/frontend/src/components/IndividualProject/MapSection/index.tsx
  src/frontend/src/components/Projects/MapSection/index.tsx
  src/frontend/src/components/UserProfile/FormContents/BasicDetails/index.tsx
  src/frontend/src/components/common/UserProfile/index.tsx
  src/frontend/src/services/createproject.ts
  src/frontend/src/views/IndividualProject/index.tsx
Labels: enhancement, backend, devops, frontend

#167 Fix: project Logic and Task Details Improvements
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_logic.py
  src/backend/app/projects/project_routes.py
  src/backend/app/tasks/task_schemas.py
  src/frontend/src/components/IndividualProject/MapSection/index.tsx
Labels: bug, backend, frontend

#169 feat: Update GSD unit
  src/frontend/src/components/CreateProject/FormContents/KeyParameters/index.tsx
Labels: bug, frontend

#168 feat: Update GSD unit
  src/frontend/src/components/CreateProject/FormContents/KeyParameters/index.tsx
Labels: bug, frontend

#172 Fix: Showing popup on all layer
  src/frontend/src/components/DroneOperatorTask/MapSection/index.tsx
  src/frontend/src/components/IndividualProject/MapSection/index.tsx
  src/frontend/src/components/common/MapLibreComponents/AsyncPopup/index.tsx
  src/frontend/src/components/common/MapLibreComponents/types/index.ts
Labels: enhancement, frontend

#171 Fix: Typo error
  src/frontend/src/constants/landingPage.tsx
Labels: bug, frontend

#170 Fix: typo error
  src/frontend/src/constants/landingPage.tsx
Labels: bug, frontend

#176 Feat/drone operator task page
  .pre-commit-config.yaml
  src/frontend/src/components/CreateProject/CreateprojectLayout/index.tsx
  src/frontend/src/components/CreateProject/FormContents/DefineAOI/MapSection/index.tsx
  src/frontend/src/components/CreateProject/FormContents/KeyParameters/index.tsx
  src/frontend/src/components/Dashboard/TaskLogs/TaskLogsTable.tsx
  src/frontend/src/components/IndividualProject/Tasks/TableSection/index.tsx
  src/frontend/src/components/LandingPage/Footer/index.tsx
  src/frontend/src/components/LandingPage/Navbar/index.tsx
  src/frontend/src/components/UserProfile/FormContents/BasicDetails/index.tsx
  src/frontend/src/components/UserProfile/FormContents/OrganizationDetails/index.tsx
  src/frontend/src/components/UserProfile/UserProfileHeader/index.tsx
  src/frontend/src/components/common/DataTable/index.tsx
  src/frontend/src/components/common/Navbar/index.tsx
  src/frontend/src/components/common/UserProfile/index.tsx
  src/frontend/src/constants/createProject.tsx
  src/frontend/src/constants/landingPage.tsx
  src/frontend/src/views/LandingPage/index.tsx
Labels: enhancement, frontend

#177 hot-fix: Update endpoint
  src/frontend/src/services/createproject.ts
Labels: enhancement, frontend

#175 feat: added logic for merging small polygons with adjacent small polygons.
  src/backend/app/projects/project_logic.py
  src/backend/app/tasks/splitter.py
  src/backend/app/users/auth.py
  src/backend/app/users/user_deps.py
  src/backend/app/users/user_routes.py
  src/backend/app/users/user_schemas.py
Labels: enhancement, backend

#174 Feat: add project image and DEM File upload to S3
  src/backend/app/db/db_models.py
  src/backend/app/projects/project_logic.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/s3.py
Labels: enhancement, backend, migration

#178 Fix(hot-fix): project image_url on project lists
  src/backend/app/projects/project_schemas.py
Labels: bug, backend

#179 update: drone flightplan package version
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

#180 update: drone flightplan package version
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

#181 Fix: check s3 image url existence
  src/backend/app/s3.py
Labels: bug, backend

#182 Production Release
  .env.example
  src/backend/app/db/db_models.py
  src/backend/app/projects/project_logic.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/s3.py
  src/backend/app/tasks/splitter.py
  src/backend/app/users/auth.py
  src/backend/app/users/user_deps.py
  src/backend/app/users/user_routes.py
  src/backend/app/users/user_schemas.py
  src/frontend/src/components/CreateProject/CreateprojectLayout/index.tsx
  src/frontend/src/components/CreateProject/FormContents/DefineAOI/MapSection/index.tsx
  src/frontend/src/components/CreateProject/FormContents/KeyParameters/index.tsx
  src/frontend/src/components/Dashboard/TaskLogs/TaskLogsTable.tsx
  src/frontend/src/components/IndividualProject/Tasks/TableSection/index.tsx
  src/frontend/src/components/LandingPage/Footer/index.tsx
  src/frontend/src/components/LandingPage/Navbar/index.tsx
  src/frontend/src/components/UserProfile/FormContents/BasicDetails/index.tsx
  src/frontend/src/components/UserProfile/FormContents/OrganizationDetails/index.tsx
  src/frontend/src/components/UserProfile/UserProfileHeader/index.tsx
  src/frontend/src/components/common/DataTable/index.tsx
  src/frontend/src/components/common/Navbar/index.tsx
  src/frontend/src/components/common/UserProfile/index.tsx
  src/frontend/src/constants/createProject.tsx
  src/frontend/src/constants/landingPage.tsx
  src/frontend/src/services/createproject.ts
  src/frontend/src/views/LandingPage/index.tsx
Labels: backend, frontend

#183 Minor Tweaks and Bug Fixes
  src/frontend/src/components/CreateProject/CreateprojectLayout/index.tsx
  src/frontend/src/components/CreateProject/FormContents/BasicInformation/index.tsx
  src/frontend/src/components/CreateProject/FormContents/DefineAOI/MapSection/index.tsx
  src/frontend/src/components/CreateProject/FormContents/DefineAOI/index.tsx
  src/frontend/src/components/CreateProject/FormContents/KeyParameters/index.tsx
  src/frontend/src/components/Dashboard/RequestLogs/index.tsx
  src/frontend/src/components/Dashboard/TaskLogs/TaskLogsTable.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/DescriptionBox/index.tsx
  src/frontend/src/components/IndividualProject/MapSection/Legend.tsx
Labels: enhancement, frontend

#184 fix: download fligh plan
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/index.tsx
Labels: enhancement, frontend
