Repository hotosm/drone-tm, pull requests merged in 2025-04, with the labels that each got.

#508 Added background task execution for flight metric updates
  src/backend/app/projects/project_logic.py
  src/backend/app/projects/project_routes.py
  src/backend/app/tasks/task_splitter.py
Labels: enhancement, backend

#503 Feat/increase task dimension and fix OAM button visibility
  src/frontend/src/components/CreateProject/FormContents/GenerateTask/index.tsx
  src/frontend/src/components/RegulatorsApprovalPage/Description/DescriptionSection.tsx
  src/frontend/src/constants/createProject.tsx
Labels: enhancement, frontend

#519 update flightplan
  src/backend/pyproject.toml
  src/backend/uv.lock
Labels: backend

#527 fix: import from the drone_flightplan package
  src/backend/app/waypoints/waypoint_routes.py
  src/backend/packages/drone-flightplan/drone_flightplan/__init__.py
Labels: backend, dependency:drone-flightplan

#528 fix: waypoints module import issues
  src/backend/app/projects/project_logic.py
  src/backend/app/waypoints/waypoint_routes.py
  src/backend/packages/drone-flightplan/drone_flightplan/__init__.py
Labels: backend, dependency:drone-flightplan

#529 Feat/ Add the Project AOI edit feature, implement dashboard filter on map section and other minor fixes
  src/frontend/src/api/projects.ts
  src/frontend/src/assets/images/no-data.png
  src/frontend/src/components/CreateProject/CreateprojectLayout/index.tsx
  src/frontend/src/components/CreateProject/FormContents/DefineAOI/MapSection/index.tsx
  src/frontend/src/components/CreateProject/FormContents/DefineAOI/index.tsx
  src/frontend/src/components/Dashboard/RequestLogs/index.tsx
  src/frontend/src/components/Dashboard/TaskLogs/TaskLogsTable.tsx
  src/frontend/src/components/IndividualProject/Contributions/TableSection/index.tsx
  src/frontend/src/components/Projects/MapSection/index.tsx
  src/frontend/src/components/Projects/ProjectsHeader/index.tsx
  src/frontend/src/components/common/DataTable/NoDataFound/index.tsx
  src/frontend/src/components/common/MapLibreComponents/useDrawTool/index.ts
  src/frontend/src/constants/createProject.tsx
  src/frontend/src/services/createproject.ts
  src/frontend/src/store/slices/createproject.ts
  src/frontend/src/views/Projects/index.tsx
Labels: enhancement, frontend
