Repository hotosm/drone-tm, pull requests merged in 2025-01, with the labels that each got.

#421 Ensure password is saved during user creation if provided
  src/backend/app/users/user_schemas.py
Labels: bug, backend

#422 feat: Task description data refetch
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/DescriptionBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/PopoverBox/LoadingBox/index.tsx
Labels: bug, frontend

#423 Production Release
  .pre-commit-config.yaml
  src/backend/app/config.py
  src/backend/app/db/db_models.py
  src/backend/app/gcp/gcp_routes.py
  src/backend/app/migrations/versions/b18103ac4ab7_.py
  src/backend/app/models/enums.py
  src/backend/app/projects/image_processing.py
  src/backend/app/projects/project_logic.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/s3.py
  src/backend/app/tasks/task_logic.py
  src/backend/app/tasks/task_routes.py
  src/backend/app/tasks/task_schemas.py
  src/backend/app/users/user_schemas.py
  src/backend/app/utils.py
  src/backend/app/waypoints/waypoint_routes.py
  src/backend/pyproject.toml
  src/backend/uv.lock
  src/frontend/src/api/projects.ts
  src/frontend/src/api/tasks.ts
  src/frontend/src/components/CreateProject/CreateprojectLayout/index.tsx
  src/frontend/src/components/CreateProject/FormContents/GenerateTask/index.tsx
  src/frontend/src/components/CreateProject/FormContents/KeyParameters/index.tsx
  src/frontend/src/components/Dashboard/TaskLogs/TaskLogsTable.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/DescriptionBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/PopoverBox/LoadingBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/index.tsx
  src/frontend/src/components/DroneOperatorTask/MapSection/index.tsx
  src/frontend/src/components/IndividualProject/Contributions/TableSection/index.tsx
  src/frontend/src/components/IndividualProject/Tasks/TableSection/index.tsx
  src/frontend/src/constants/taskDescription.ts
  src/frontend/src/services/project.ts
  src/frontend/src/services/tasks.ts
  src/frontend/src/store/actions/droneOperatorTask.ts
  src/frontend/src/store/slices/droneOperartorTask.ts
Labels: docs, backend, devops, migration, frontend

#424 Feat: Implement gcp editor package
  src/frontend/package.json
  src/frontend/src/components/IndividualProject/GcpEditor/index.tsx
  src/frontend/src/components/RegulatorsApprovalPage/Description/DescriptionSection.tsx
  src/frontend/src/services/project.ts
  src/frontend/src/store/slices/project.ts
  src/frontend/src/views/IndividualProject/index.tsx
Labels: enhancement, frontend

#415 Test cases for user and project functionalities with fixtures
  src/backend/app/projects/project_schemas.py
  src/backend/tests/conftest.py
  src/backend/tests/test_projects_routes.py
  src/backend/tests/test_tasks_routes.py
  src/backend/tests/test_users_routes.py
Labels: enhancement, backend

#433 Add link to supported drones in README + expand FAQ details
  README.md
  docs/about/faq.md
  docs/index.md
Labels: docs

#435 feat: add image url to gcp editor
  src/frontend/src/views/IndividualProject/index.tsx
Labels: enhancement, frontend

#438 Update the image processing status for a project.
  src/backend/app/db/db_models.py
  src/backend/app/migrations/versions/f78cde896334_image_processing_status.py
  src/backend/app/models/enums.py
  src/backend/app/projects/image_processing.py
  src/backend/app/projects/project_logic.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
Labels: enhancement, backend, migration

#439 fix: migration
  src/backend/app/migrations/versions/f78cde896334_image_processing_status.py
Labels: enhancement, backend, migration

#441 Feat/implement updated version of gcp and minor fixes
  src/frontend/package.json
  src/frontend/src/components/IndividualProject/GcpEditor/index.tsx
  src/frontend/src/components/RegulatorsApprovalPage/Description/DescriptionSection.tsx
  src/frontend/src/views/IndividualProject/index.tsx
Labels: enhancement, frontend

#440 Production Release
  .pre-commit-config.yaml
  README.md
  docs/about/faq.md
  docs/index.md
  src/backend/app/db/db_models.py
  src/backend/app/gcp/gcp_routes.py
  src/backend/app/migrations/versions/f78cde896334_image_processing_status.py
  src/backend/app/models/enums.py
  src/backend/app/projects/image_processing.py
  src/backend/app/projects/project_logic.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/s3.py
  src/backend/app/users/user_schemas.py
  src/backend/tests/conftest.py
  src/backend/tests/test_projects_routes.py
  src/backend/tests/test_tasks_routes.py
  src/backend/tests/test_users_routes.py
  src/frontend/package.json
  src/frontend/src/components/IndividualProject/GcpEditor/index.tsx
  src/frontend/src/components/RegulatorsApprovalPage/Description/DescriptionSection.tsx
  src/frontend/src/services/project.ts
  src/frontend/src/store/slices/project.ts
  src/frontend/src/views/IndividualProject/index.tsx
Labels: docs, backend, migration, frontend

#442 hot-fix: ignore ts for animate presence of framer-motion
  src/frontend/src/views/LandingPage/index.tsx
Labels: bug, frontend

#444 Implement Flightplan Rotation
  src/backend/app/projects/project_routes.py
  src/backend/app/waypoints/waypoint_routes.py
  src/backend/pyproject.toml
  src/backend/uv.lock
Labels: backend, waypoints

#446 Feat/ implement flight plan rotation from backend response
  src/backend/app/waypoints/waypoint_routes.py
  src/frontend/src/api/tasks.ts
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/index.tsx
  src/frontend/src/components/DroneOperatorTask/MapSection/MapSection.tsx
  src/frontend/src/components/DroneOperatorTask/MapSection/index.tsx
  src/frontend/src/services/tasks.ts
  src/frontend/src/store/actions/droneOperatorTask.ts
  src/frontend/src/store/slices/droneOperartorTask.ts
  src/frontend/src/views/TaskDescription/index.tsx
Labels: enhancement, backend, frontend

#447 fix: set default rotation angle to 0
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/DescriptionBox/index.tsx
Labels: bug, frontend

#445 Download Images asynchronously in Image Processing
  src/backend/app/projects/image_processing.py
  src/backend/pyproject.toml
  src/backend/uv.lock
Labels: backend

#448 Production Release
  .pre-commit-config.yaml
  src/backend/app/projects/image_processing.py
  src/backend/app/projects/project_routes.py
  src/backend/app/waypoints/waypoint_routes.py
  src/backend/pyproject.toml
  src/backend/uv.lock
  src/frontend/src/api/tasks.ts
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/DescriptionBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/index.tsx
  src/frontend/src/components/DroneOperatorTask/MapSection/MapSection.tsx
  src/frontend/src/components/DroneOperatorTask/MapSection/index.tsx
  src/frontend/src/services/tasks.ts
  src/frontend/src/store/actions/droneOperatorTask.ts
  src/frontend/src/store/slices/droneOperartorTask.ts
  src/frontend/src/views/LandingPage/index.tsx
  src/frontend/src/views/TaskDescription/index.tsx
Labels: backend, frontend

#449 Feat/download rotated flight plan and project detail export
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/DescriptionBox/ProgessBar/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/DescriptionBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/PopoverBox/MapBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/index.tsx
  src/frontend/src/components/DroneOperatorTask/MapSection/MapSection.tsx
  src/frontend/src/components/IndividualProject/ExportSection/MapSection.tsx
  src/frontend/src/components/IndividualProject/ExportSection/index.tsx
  src/frontend/src/components/IndividualProject/MapSection/index.tsx
  src/frontend/src/components/RegulatorsApprovalPage/Description/DescriptionSection.tsx
  src/frontend/src/components/common/MapLibreComponents/useMapLibreGLMap/index.ts
  src/frontend/src/store/actions/droneOperatorTask.ts
  src/frontend/src/store/slices/droneOperartorTask.ts
  src/frontend/src/views/IndividualProject/index.tsx
Labels: enhancement, frontend

#451 Feat/Visualize task's and overall project orthophoto, options to start processing without GCP and other relative changes
  src/backend/app/s3.py
  src/frontend/src/components/IndividualProject/Contributions/TableSection/index.tsx
  src/frontend/src/components/IndividualProject/GcpEditor/index.tsx
  src/frontend/src/components/IndividualProject/MapSection/index.tsx
  src/frontend/src/components/IndividualProject/ModalContent/ChooseProcessingParameter.tsx
  src/frontend/src/components/RegulatorsApprovalPage/Description/DescriptionSection.tsx
  src/frontend/src/components/common/Breadcrumb/index.tsx
  src/frontend/src/components/common/MapLibreComponents/COGOrthophotoViewer/index.tsx
  src/frontend/src/constants/modalContents.tsx
  src/frontend/src/constants/projectDescription.ts
  src/frontend/src/services/project.ts
  src/frontend/src/store/slices/project.ts
Labels: enhancement, backend, frontend

#452 Feat/Add Apk download section, update landing page UI and other fixes
  src/frontend/src/assets/images/LandingPage/MobileView.svg
  src/frontend/src/components/Dashboard/DashboardCard/index.tsx
  src/frontend/src/components/Dashboard/RequestLogs/index.tsx
  src/frontend/src/components/Dashboard/TaskLogs/TaskLogsTable.tsx
  src/frontend/src/components/IndividualProject/MapSection/index.tsx
  src/frontend/src/components/LandingPage/MajorImpacts/index.tsx
  src/frontend/src/components/LandingPage/MobileAppDownload/index.tsx
  src/frontend/src/components/LandingPage/OpenSource/index.tsx
  src/frontend/src/components/UpdateUserDetails/BasicDetails.tsx/index.tsx
  src/frontend/src/components/UpdateUserDetails/Password/index.tsx
  src/frontend/src/views/LandingPage/index.tsx
Labels: bug, enhancement, frontend

#453 Production Release
  .pre-commit-config.yaml
  src/backend/app/projects/image_processing.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/s3.py
  src/frontend/src/assets/images/LandingPage/MobileView.svg
  src/frontend/src/components/Dashboard/DashboardCard/index.tsx
  src/frontend/src/components/Dashboard/RequestLogs/index.tsx
  src/frontend/src/components/Dashboard/TaskLogs/TaskLogsTable.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/DescriptionBox/ProgessBar/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/DescriptionBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/PopoverBox/MapBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/index.tsx
  src/frontend/src/components/DroneOperatorTask/MapSection/MapSection.tsx
  src/frontend/src/components/IndividualProject/Contributions/TableSection/index.tsx
  src/frontend/src/components/IndividualProject/ExportSection/MapSection.tsx
  src/frontend/src/components/IndividualProject/ExportSection/index.tsx
  src/frontend/src/components/IndividualProject/GcpEditor/index.tsx
  src/frontend/src/components/IndividualProject/MapSection/index.tsx
  src/frontend/src/components/IndividualProject/ModalContent/ChooseProcessingParameter.tsx
  src/frontend/src/components/LandingPage/MajorImpacts/index.tsx
  src/frontend/src/components/LandingPage/MobileAppDownload/index.tsx
  src/frontend/src/components/LandingPage/OpenSource/index.tsx
  src/frontend/src/components/RegulatorsApprovalPage/Description/DescriptionSection.tsx
  src/frontend/src/components/UpdateUserDetails/BasicDetails.tsx/index.tsx
  src/frontend/src/components/UpdateUserDetails/Password/index.tsx
  src/frontend/src/components/common/Breadcrumb/index.tsx
  src/frontend/src/components/common/MapLibreComponents/COGOrthophotoViewer/index.tsx
  src/frontend/src/components/common/MapLibreComponents/useMapLibreGLMap/index.ts
  src/frontend/src/constants/modalContents.tsx
  src/frontend/src/constants/projectDescription.ts
  src/frontend/src/services/project.ts
  src/frontend/src/store/actions/droneOperatorTask.ts
  src/frontend/src/store/slices/droneOperartorTask.ts
  src/frontend/src/store/slices/project.ts
  src/frontend/src/views/IndividualProject/index.tsx
  src/frontend/src/views/LandingPage/index.tsx
Labels: backend, frontend

#455 hotfix: image uploading issues in odm
  src/backend/app/projects/image_processing.py
Labels: backend

#456 Feat/UI fixes
  src/frontend/package.json
  src/frontend/src/App.tsx
  src/frontend/src/api/tasks.ts
  src/frontend/src/assets/images/tutorials/flight_plan_load_on_Rc.png
  src/frontend/src/assets/images/tutorials/flight_plan_replacement_on_rc.png
  src/frontend/src/assets/images/tutorials/image_processing.png
  src/frontend/src/assets/images/tutorials/project_creation.png
  src/frontend/src/assets/images/tutorials/sign_up_and_login.png
  src/frontend/src/assets/images/tutorials/viewing_final_output.png
  src/frontend/src/assets/images/tutorials/work_flow_for_drone_operator.png
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/DescriptionBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/MapSection/MapSection.tsx
  src/frontend/src/components/IndividualProject/MapSection/index.tsx
  src/frontend/src/components/IndividualProject/ModalContent/DeleteProjectConfirmation.tsx
  src/frontend/src/components/IndividualProject/ModalContent/UnlockTaskPromptDialog.tsx
  src/frontend/src/components/IndividualProject/ModalContent/index.tsx
  src/frontend/src/components/LandingPage/MobileAppDownload/index.tsx
  src/frontend/src/components/LandingPage/Navbar/index.tsx
  src/frontend/src/components/RegulatorsApprovalPage/Description/DescriptionSection.tsx
  src/frontend/src/components/Tutorials/VideoTutorials/VideoCards/index.tsx
  src/frontend/src/components/Tutorials/VideoTutorials/index.tsx
  src/frontend/src/constants/projectDescription.ts
  src/frontend/src/constants/tutorials.ts
  src/frontend/src/routes/appRoutes.ts
  src/frontend/src/services/project.ts
  src/frontend/src/services/tasks.ts
  src/frontend/src/views/IndividualProject/index.tsx
  src/frontend/src/views/RegulatorsApprovalPage/index.tsx
  src/frontend/src/views/Tutorial/index.tsx
Labels: bug, enhancement, frontend

#457 UI fixes
  src/frontend/src/components/LandingPage/Home/index.tsx
  src/frontend/src/views/IndividualProject/index.tsx
  src/frontend/src/views/RegulatorsApprovalPage/index.tsx
Labels: bug, enhancement, frontend
