Repository hotosm/drone-tm, pull requests merged in 2025-02, with the labels that each got.

#458 Production Release
  src/frontend/package.json
  src/frontend/src/App.tsx
  src/frontend/src/api/tasks.ts
  src/frontend/src/assets/images/tutorials/flight_plan_load_on_Rc.png
  src/frontend/src/assets/images/tutorials/flight_plan_replacement_on_rc.png
  src/frontend/src/assets/images/tutorials/image_processing.png
  src/frontend/src/assets/images/tutorials/project_creation.png
  src/frontend/src/assets/images/tutorials/sign_up_and_login.png
  src/frontend/src/assets/images/tutorials/viewing_final_output.png
  src/frontend/src/assets/images/tutorials/work_flow_for_drone_operator.png
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/DescriptionBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/MapSection/MapSection.tsx
  src/frontend/src/components/IndividualProject/MapSection/index.tsx
  src/frontend/src/components/IndividualProject/ModalContent/DeleteProjectConfirmation.tsx
  src/frontend/src/components/IndividualProject/ModalContent/UnlockTaskPromptDialog.tsx
  src/frontend/src/components/IndividualProject/ModalContent/index.tsx
  src/frontend/src/components/LandingPage/Home/index.tsx
  src/frontend/src/components/LandingPage/MobileAppDownload/index.tsx
  src/frontend/src/components/LandingPage/Navbar/index.tsx
  src/frontend/src/components/RegulatorsApprovalPage/Description/DescriptionSection.tsx
  src/frontend/src/components/Tutorials/VideoTutorials/VideoCards/index.tsx
  src/frontend/src/components/Tutorials/VideoTutorials/index.tsx
  src/frontend/src/constants/projectDescription.ts
  src/frontend/src/constants/tutorials.ts
  src/frontend/src/routes/appRoutes.ts
  src/frontend/src/services/project.ts
  src/frontend/src/services/tasks.ts
  src/frontend/src/views/IndividualProject/index.tsx
  src/frontend/src/views/RegulatorsApprovalPage/index.tsx
  src/frontend/src/views/Tutorial/index.tsx
Labels: frontend

#459 Feat: Implement multiple image deletion
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/PopoverBox/MapBox/index.tsx
  src/frontend/src/components/RegulatorsApprovalPage/Description/DescriptionSection.tsx
  src/frontend/src/components/common/MapLibreComponents/Layers/VectorLayer.ts
  src/frontend/src/components/common/MapLibreComponents/NewAsyncPopup/index.tsx
  src/frontend/src/components/common/MapLibreComponents/types/index.ts
Labels: bug, enhancement, frontend

#461 Convert splash background image from png --> compressed jpg
  src/frontend/src/assets/images/LandingPage/DroneTM-bg.jpg
  src/frontend/src/assets/images/LandingPage/DroneTM-bg.png
  src/frontend/src/components/LandingPage/Home/index.tsx
Labels: enhancement, frontend

#463 Migrate yarn --> pnpm and use node LTS 22.13
  .gitignore
  package.json
  src/frontend/.nvmrc
  src/frontend/Dockerfile
  src/frontend/README.md
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
Labels: frontend

#466 Add filters by project status to the projects list endpoint
  src/backend/app/__version__.py
  src/backend/app/main.py
  src/backend/app/models/enums.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/tasks/task_routes.py
  src/backend/uv.lock
Labels: enhancement, backend

#467 Production Release
  .env.example
  .github/workflows/docs.yml
  .gitignore
  .pre-commit-config.yaml
  package.json
  src/backend/app/__version__.py
  src/backend/app/main.py
  src/backend/app/models/enums.py
  src/backend/app/projects/image_processing.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/tasks/task_routes.py
  src/backend/app/tasks/task_schemas.py
  src/backend/pyproject.toml
  src/backend/uv.lock
  src/frontend/.nvmrc
  src/frontend/Dockerfile
  src/frontend/README.md
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
  src/frontend/src/App.tsx
  src/frontend/src/assets/images/LandingPage/DroneTM-bg.jpg
  src/frontend/src/assets/images/LandingPage/DroneTM-bg.png
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/PopoverBox/MapBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/MapSection/MapSection.tsx
  src/frontend/src/components/IndividualProject/ExportSection/MapSection.tsx
  src/frontend/src/components/IndividualProject/ExportSection/index.tsx
  src/frontend/src/components/IndividualProject/MapSection/index.tsx
  src/frontend/src/components/LandingPage/Home/index.tsx
  src/frontend/src/components/RegulatorsApprovalPage/Description/DescriptionSection.tsx
  src/frontend/src/components/common/HotTracking/index.tsx
  src/frontend/src/components/common/Layouts/types.ts
  src/frontend/src/components/common/MapLibreComponents/Layers/VectorLayer.ts
  src/frontend/src/components/common/MapLibreComponents/NewAsyncPopup/index.tsx
  src/frontend/src/components/common/MapLibreComponents/types/index.ts
  src/frontend/src/store/actions/droneOperatorTask.ts
  src/frontend/src/store/slices/droneOperartorTask.ts
  src/frontend/src/views/IndividualProject/index.tsx
Labels: backend, devops, frontend

#470 Fix minor issues in the drone image processing
  src/backend/app/projects/image_processing.py
Labels: bug, backend

#468 Update app frontend dependencies, React v19, fix all typing errors, integrate hotosm/ui correctly
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
  src/frontend/src/App.tsx
  src/frontend/src/api/projects.ts
  src/frontend/src/components/CreateProject/CreateprojectLayout/index.tsx
  src/frontend/src/components/CreateProject/FormContents/DefineAOI/index.tsx
  src/frontend/src/components/CreateProject/FormContents/GenerateTask/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/DescriptionBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/PopoverBox/LoadingBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/QuestionBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/MapSection/MapSection.tsx
  src/frontend/src/components/DroneOperatorTask/MapSection/index.tsx
  src/frontend/src/components/RadixComponents/Image.tsx
  src/frontend/src/components/RegulatorsApprovalPage/Description/ApprovalSection.tsx
  src/frontend/src/components/UpdateUserDetails/BasicDetails.tsx/index.tsx
  src/frontend/src/components/UpdateUserDetails/OrganizationDetails/index.tsx
  src/frontend/src/components/UpdateUserDetails/OtherDetails/index.tsx
  src/frontend/src/components/UpdateUserDetails/Password/index.tsx
  src/frontend/src/components/common/HotTracking/index.tsx
  src/frontend/src/components/common/Icon/index.tsx
  src/frontend/src/components/common/Layouts/types.ts
  src/frontend/src/hooks/useDebouncedListener.ts
  src/frontend/src/main.tsx
  src/frontend/src/modules/user-auth-module/src/components/Authentication/Login/index.tsx
  src/frontend/src/modules/user-auth-module/src/routes/index.ts
  src/frontend/src/modules/user-auth-module/src/store/persist.ts
  src/frontend/src/modules/user-auth-module/src/store/reducers/index.ts
  src/frontend/src/routes/types.ts
  src/frontend/src/store/persist.ts
  src/frontend/src/store/reducers/index.ts
  src/frontend/src/types/custom.d.ts
  src/frontend/src/types/react-augumented.d.ts
  src/frontend/src/utils/checkIfLoading.ts
  src/frontend/src/utils/index.ts
  src/frontend/src/views/CompleteUserProfile/index.tsx
  src/frontend/src/views/IndividualProject/index.tsx
  src/frontend/src/views/Projects/index.tsx
  src/frontend/src/views/RegulatorsApprovalPage/index.tsx
  src/frontend/src/views/Tutorial/index.tsx
Labels: devops, effort:low, priority:low, frontend

#474 Production Release 2025.02.01
  .pre-commit-config.yaml
  docs/about/faq.md
  src/backend/app/__version__.py
  src/backend/app/db/db_models.py
  src/backend/app/migrations/versions/7b6426a1bd67_oam_api_token.py
  src/backend/app/projects/image_processing.py
  src/backend/app/projects/oam.py
  src/backend/app/projects/project_routes.py
  src/backend/app/s3.py
  src/backend/app/users/user_logic.py
  src/backend/pyproject.toml
  src/backend/uv.lock
  src/frontend/package.json
  src/frontend/pnpm-lock.yaml
  src/frontend/src/App.tsx
  src/frontend/src/api/projects.ts
  src/frontend/src/components/CreateProject/CreateprojectLayout/index.tsx
  src/frontend/src/components/CreateProject/FormContents/DefineAOI/index.tsx
  src/frontend/src/components/CreateProject/FormContents/GenerateTask/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/DescriptionBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/PopoverBox/LoadingBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/PopoverBox/MapBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/QuestionBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/MapSection/MapSection.tsx
  src/frontend/src/components/DroneOperatorTask/MapSection/index.tsx
  src/frontend/src/components/IndividualProject/MapSection/index.tsx
  src/frontend/src/components/LandingPage/Home/index.tsx
  src/frontend/src/components/LandingPage/SignInOverlay/index.tsx
  src/frontend/src/components/LandingPage/TalkToUs/index.tsx
  src/frontend/src/components/LandingPage/index.tsx
  src/frontend/src/components/RadixComponents/Image.tsx
  src/frontend/src/components/RegulatorsApprovalPage/Description/ApprovalSection.tsx
  src/frontend/src/components/UpdateUserDetails/BasicDetails.tsx/index.tsx
  src/frontend/src/components/UpdateUserDetails/OrganizationDetails/index.tsx
  src/frontend/src/components/UpdateUserDetails/OtherDetails/index.tsx
  src/frontend/src/components/UpdateUserDetails/Password/index.tsx
  src/frontend/src/components/common/HotTracking/index.tsx
  src/frontend/src/components/common/Icon/index.tsx
  src/frontend/src/components/common/Layouts/types.ts
  src/frontend/src/hooks/useDebouncedListener.ts
  src/frontend/src/main.tsx
  src/frontend/src/modules/user-auth-module/src/components/Authentication/Login/index.tsx
  src/frontend/src/modules/user-auth-module/src/routes/index.ts
  src/frontend/src/modules/user-auth-module/src/store/persist.ts
  src/frontend/src/modules/user-auth-module/src/store/reducers/index.ts
  src/frontend/src/routes/types.ts
  src/frontend/src/store/persist.ts
  src/frontend/src/store/reducers/index.ts
  src/frontend/src/types/custom.d.ts
  src/frontend/src/types/react-augumented.d.ts
  src/frontend/src/utils/checkIfLoading.ts
  src/frontend/src/utils/index.ts
  src/frontend/src/views/CompleteUserProfile/index.tsx
  src/frontend/src/views/IndividualProject/index.tsx
  src/frontend/src/views/LandingPage/index.tsx
  src/frontend/src/views/Projects/index.tsx
  src/frontend/src/views/RegulatorsApprovalPage/index.tsx
  src/frontend/src/views/Tutorial/index.tsx
Labels: docs, backend, migration, frontend

#475 update user profile to add oam api token
  src/backend/app/users/user_schemas.py
Labels: backend

#476 add field has_oam_token in my_info api
  src/backend/app/users/user_schemas.py
Labels: backend

#478 Fix/filters on project list
  src/frontend/src/api/projects.ts
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/DescriptionBox/index.tsx
  src/frontend/src/views/Projects/index.tsx
Labels: bug, frontend

#480 Fix/Orthophoto persists on project change
  src/frontend/src/api/projects.ts
  src/frontend/src/components/IndividualProject/MapSection/index.tsx
  src/frontend/src/views/IndividualProject/index.tsx
Labels: bug, frontend

#481 fix/orthophoto persists on project change
  src/frontend/src/components/IndividualProject/MapSection/index.tsx
  src/frontend/src/views/IndividualProject/index.tsx
Labels: bug, frontend

#482 fix: orthophoto persist on project change
  src/frontend/src/views/IndividualProject/index.tsx
Labels: bug, frontend

#483 Fix Permission Issue for Task State Change by Project Creator
  src/backend/app/tasks/task_logic.py
Labels: bug, backend

#473 Created custom permission classes and implementation in api endpoints
  src/backend/app/projects/project_routes.py
  src/backend/app/users/permissions.py
  src/backend/app/users/user_deps.py
Labels: enhancement, backend

#485 upgrade drone_flightplan package to 0.3.5
  src/backend/pyproject.toml
  src/backend/uv.lock
Labels: backend

#486 Production Release
  src/backend/app/projects/project_routes.py
  src/backend/app/tasks/task_logic.py
  src/backend/app/users/permissions.py
  src/backend/app/users/user_deps.py
  src/backend/pyproject.toml
  src/backend/uv.lock
  src/frontend/src/api/projects.ts
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/DescriptionBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/PopoverBox/MapBox/index.tsx
  src/frontend/src/components/DroneOperatorTask/DescriptionSection/index.tsx
  src/frontend/src/components/IndividualProject/MapSection/index.tsx
  src/frontend/src/components/IndividualProject/ModalContent/UploadToOAM.tsx
  src/frontend/src/components/RegulatorsApprovalPage/Description/DescriptionSection.tsx
  src/frontend/src/components/UpdateUserDetails/OrganizationDetails/index.tsx
  src/frontend/src/constants/modalContents.tsx
  src/frontend/src/services/project.ts
  src/frontend/src/views/IndividualProject/index.tsx
Labels: backend, frontend

#487 feat: Add condition to show `Upload to OAM` button
  src/frontend/src/components/RegulatorsApprovalPage/Description/DescriptionSection.tsx
Labels: enhancement, frontend

#488 Setup ARQ Background Task System
  docker-compose.vm.yml
  docker-compose.yml
  src/backend/app/arq/tasks.py
  src/backend/app/config.py
  src/backend/app/db/database.py
  src/backend/app/projects/project_routes.py
  src/backend/pyproject.toml
  src/backend/uv.lock
Labels: enhancement, backend, devops

#489 Drone Image Processing with ODM moved from fastapi background task to arq worker
  src/backend/app/arq/tasks.py
  src/backend/app/config.py
  src/backend/app/projects/project_logic.py
  src/backend/app/projects/project_routes.py
Labels: enhancement, backend

#491 Production Release
  .pre-commit-config.yaml
  README.md
  docker-compose.vm.yml
  docker-compose.yml
  src/backend/app/arq/tasks.py
  src/backend/app/config.py
  src/backend/app/db/database.py
  src/backend/app/projects/project_logic.py
  src/backend/app/projects/project_routes.py
  src/backend/pyproject.toml
  src/backend/uv.lock
  src/frontend/src/components/RegulatorsApprovalPage/Description/DescriptionSection.tsx
Labels: docs, backend, devops, frontend
